@(location: String)(implicit user: User = helpers.SessionHelper.getCurrentUser(ctx()))
<div class="wrap">
	<div class="header">
		<div class="headertop_desc">
			<div class="logo">
				<a href="/"><img src="@routes.Assets.at("images/pik.ba.jpg")" width="130" heigth="175" alt=""></a>
			</div>
			<div class="account_desc">
				<ul>

				<li><a href="/showBlog">@Messages("Blog")</a></li>

				   	<li class='@("active".when(location == "FAQs"))'><a href="/faqs">@Messages("FAQ")</a></li>
				   	<li class='@("active".when(location == "terms"))'><a href="/terms">@Messages("UsloviKoristenja")</a></li>
				

					@if(user == null || user.verified == false) {
						<li><a href="/chooseRegistration">@Messages("Registracija")</a></li>
						<li><a href="/login">@Messages("Login")</a></li>
					}
					@if(user != null && user.verified == true){
						<li><a href="/profile">@Messages("Korisnik") <span style="color: #2E68B2;">@user.username</span></a></li>
						<li><a href="/logout">@Messages("Logout")</a></li>
					}
				</ul>
			</div>
			<div class="clear"></div>
		</div>

		<div class="header_top">
	 		<div class="clear"></div>
		</div>

		<div class="header_bottom" style="border-radius:6px 6px 6px 6px;-webkit-border-radius:6px 6px 6px 6px;-moz-border-rfadius:6px 6px 6px 6px;-o-border-radius:6px 6px 6px 6px;">
	     	<div class="menu">
	     		<ul>
			    	<li class='@("active".when(location == "index"))'><a href="/">@Messages("Pocetna")</a></li>
			    	
			    	
			    	
					@if(user != null && user.verified == true){
						<!--  Da admin ne moze vidjeti Objavite oglas -->
						@if(!user.isAdmin) {
			    			<li class='@("active".when(location == "Objavi"))'><a href="/addProduct">@Messages("ObjaviteOglas")</a></li>
					}
					}
				    				    	
			    	<li class='@("active".when(location == "Kontakt"))'><a href="/contact">@Messages("Kontakt")</a></li>
			    	<li class='@("active".when(location == "pikRadnje"))'><a href="/pikRadnje">@Messages("Radnje")</a></li>
			    	@if(user != null) {
			    		<li class='@("active".when(location == "Poruke"))'><a href="/allMessages">@Messages("Poruke")</a></li>
			    		@if(user.isAdmin == true){
				    		<li class='@("active".when(location == "Admin Panel"))'><a href="/adminPanel">@Messages("AdminPanel")</a></li>
			    		}
			    	}

					<!-- OBRISATI? -->			    			    	
			    	<div class="clear"></div>

     			</ul>
	     	</div>
	     	<div class="menu2" style="border-radius:6px 6px 6px 6px;-webkit-border-radius:6px 6px 6px 6px;-moz-border-rfadius:6px 6px 6px 6px;-o-border-radius:6px 6px 6px 6px;">
	     		<ul>


	     			<li class='@("active".when(location == "NPretraga"))'><a href="/newViewForFilter">@Messages("NaprednaPretraga")</a></li>

	     		</ul>
	     	</div>
	     	<div class="search_box">
	     		<form action="/search" method="GET">
	     			<input id="q" name="q" type="text" placeholder="@Messages("TraziProizvode")" required/>
	     			<!--<input id="q" name="q" type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">-->
	     			<input type="submit" value="">
	     		</form>
	     	</div>
  	
			<!-- OBRISATI? -->
	     	<div class="clear"></div>

		</div>
	</div>
</div>	