@(location: String)(implicit user: User = helpers.SessionHelper.getCurrentUser(ctx()))
<div class="wrap">
	<div class="header">
		<div class="headertop_desc">
			<div class="logo">
				<a href="/"><img src="@routes.Assets.at("images/pik.ba.jpg")" width="75" heigth="75" alt=""></a>
			</div>
			<div class="account_desc">
				<ul>
					@if(user == null || user.verified == false) {
						<li><a href="/chooseRegistration">Registracija</a></li>
						<li><a href="/login">Login</a></li>
					}
					@if(user != null && user.verified == true){
						<li><a href="/profile">Korisnik @user.username</a></li>
						<li><a href="/logout">Logout</a></li>
					}
				</ul>
			</div>
			<div class="clear"></div>
		</div>

		<div class="header_top">
	 		<div class="clear"></div>
		</div>

		<div class="header_bottom">
	     	<div class="menu">
	     		<ul>
			    	<li class='@("active".when(location == "index"))'><a href="/">Početna</a></li>
			    	<li class='@("active".when(location == "FAQs"))'><a href="/faqs">Česta pitanja i odgovori</a></li>
			    	<li class='@("active".when(location == "Kontakt"))'><a href="/contact">Kontakt</a></li>
			    	@if(user != null) {
			    		<li class='@("active".when(location == "Poruke"))'><a href="/allMessages">Poruke</a></li>
			    		@if(user.isAdmin == true){
				    		<li class='@("active".when(location == "Admin Panel"))'><a href="/adminPanel">Admin Panel</a></li>
			    		}
			    	}

					<!-- OBRISATI? -->			    			    	
			    	<div class="clear"></div>

     			</ul>
	     	</div>
	     	<div class="menu2">
	     		<ul>
	     			<li class='@("active".when(location == "Nap. Pretraga"))'><a href="/newViewForFilter">Napredna Pretraga</a></li>
	     		</ul>
	     	</div>
	     	<div class="search_box">
	     		<form action="/search" method="GET">
	     			<input id="q" name="q" type="text" placeholder="Traži proizvode ili korisnike..." required/>
	     			<!--<input id="q" name="q" type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">-->
	     			<input type="submit" value="">
	     		</form>
	     	</div>

					@if(user != null && user.verified == true){
						<!--  Da admin ne moze vidjeti Objavite oglas -->
						@if(!user.isAdmin) {

				<ul>
			    	<li><a class="btn btn-success btn-fontNovi" href="/addProduct" style="margin-left: 20%; margin-top: 2px; padding: 10px;">Objavite oglas</a></li>
				</ul>
				}
				}
  	
			<!-- OBRISATI? -->
	     	<div class="clear"></div>

		</div>
	</div>
</div>	