@(location: String)(implicit user: User = helpers.SessionHelper.getCurrentUser(ctx()))
<div class="wrap">
	<div class="header">
		<div class="headertop_desc">
			<div class="logo">
				<a href="/"><img src="@routes.Assets.at("images/pik.ba.jpg")" width="75" heigth="75" alt=""></a>
			</div>
			<div class="account_desc">
				<ul>
					@if(user == null || user.verified == false) {
						<li><a href="/registration">Registracija</a></li>
						<li><a href="/login">Login</a></li>
					}
					@if(user != null && user.verified == true){
						<!--  Da admin ne moze vidjeti Objavite oglas -->
						@if(!user.isAdmin) {
						<li><a href="/addProduct">Objavite oglas</a></li>
						}
						<li><a href="/profile">Korisnik @user.username</a></li>
						<li><a href="/logout">Logout</a></li>
					}
				</ul>
			</div>
						
			<!-- OBRISATI? -->
			<div class="clear"></div>

		</div>

		<!-- OBRISATI? -->
		<div class="header_top">
	 		<div class="clear"></div>
		</div>

		<div class="header_bottom">
	     	<div class="menu">
	     		<ul>
			    	<li class='@("active".when(location == "index"))'><a href="/">Početna</a></li>
			    	<li><a href="#">Radnje</a></li>
			    	<li><a href="#">Nekretnine</a></li>
			    	<li><a href="#">Hitno</a></li>
			    	<li><a href="/faqs">FAQs</a></li>
			    	@if(user != null) {
			    		@if(user.isAdmin == true){
				    		<li class='@("active".when(location == "Admin Panel"))'><a href="/adminPanel">Admin Panel</a></li>
			    		}
			    	}

					<!-- OBRISATI? -->			    			    	
			    	<div class="clear"></div>

     			</ul>
	     	</div>
	     	<div class="search_box">
	     		<form>
	     			<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
	     			<input type="submit" value="">
	     		</form>
	     	</div>
	     	
			<!-- OBRISATI? -->
	     	<div class="clear"></div>

		</div>
	</div>
</div>	