@(u: User)
@import helper._

@main("purchase", ""){
	
	<div class="main">
    	<div class="content">
       		<div class="section group">
				<div class="col span_2_of_3">
					<div class="contact-form">
				  		<h1 class="redHeader">@u.username, Molimo Vas unesite iznos BitPik Kredita </h1>
				  		<br>
				  		
								@helper.form(routes.CreditController.addCreditsProcess(), 'id->"creditForm") {
																
									<h5 id="editProfileText">Kolicina BitPik Kredita:</h5>			
									<input type="number" min="1" max="500" step="any" value="" id="credit" name="credit" required/>
									
									<input class="buttonRed" type="submit" value="KUPI KREDITE" />					
								}
		
					</div>
				</div>
			</div>
		</div>
	</div>
		
}