@(sproducts: List[Product])(u: User)(products: List[Product])
@import helper._

@main("Admin Panel", "Admin Panel") {
		
<div class="wrap">
	<div class="main">
    	<div class="content">
    		<div class="section group">								
				<div class="leftBox">
					<div><a class="profilePicture" ><img src="@routes.Assets.at(u.imagePath)" alt="" /></a></div>									
					<div class="categories">
					  	<ul>
					      <li><a>Ime: @u.username </a></li>
					      <li><a>E-mail: @u.email </a></li>
					      <li><a href="http://localhost:9000/profile">Moj profil</a></li>
					     
						</ul>
					</div>						  	    
				</div>						
				<div class="leftBox">					
					<div class="categories">
					<h3> Admin prava</h3>
					  	<ul>
					      <li><a href="/korisnici">Korisnici</a></li>
					      <li><a href="/listaKategorija">Kategorije</a></li>
					      <li><a href="/faqs">FAQS</a><li>					     
						</ul>
					</div>						  	    
				</div>
				<div class="clear"></div>
    		    <div class="content_top">
			    	<div class="heading">
			    	<h3>Artikli na refundaciji</h3>
			    	</div>
			   		<div class="see">
			   			<p><a href="#">Pogledaj</a></p>
			   		</div>
			   		<div class="clear"></div>
			   	</div>
			   	<div class="section group">	      	      
	      
					@if(products.size() > 0 ) {
						@for(product <- products) {						
							<div class="grid_1_of_4 images_1_of_4">
					 			<a href="/showProduct/@product.id"><img src="@routes.Assets.at(product.productImagePath)" alt="" /></a>
					 			<h2>@product.name</h2>
									<div class="price-details">
				       					<div class="price-number">
											<p><span class="rupees">@product.getPriceString() KM</span></p>
					   					</div>
					       				<div class="add-cart">								
											<h4><a href="/showProduct/@product.id">Pogledaj</a></h4>
							    		</div>
										<div class="clear"></div>
									</div>				 
							</div>				
						}
					}
				</div>
				
				
				<!--  Dodano za Artikle koji su special -->
				    <div class="content_top">
			    	<div class="heading">
			    	<h3>Izdvojeni Artikli</h3>
			    	</div>
			   		<div class="see">
			   			<p><a href="#">Pogledaj</a></p>
			   		</div>
			   		<div class="clear"></div>
			   	</div>
			   	<div class="section group">	      	      
	      
					@if(sproducts.size() > 0 ) {
						@for(sproduct <- sproducts) {						
							<div class="grid_1_of_4 images_1_of_4">
					 			<a href="/showProduct/@sproduct.id"><img src="@routes.Assets.at(sproduct.productImagePath)" alt="" /></a>
					 			<h2>@sproduct.name</h2>
									<div class="price-details">
				       					<div class="price-number">
											<p><span class="rupees">@sproduct.getPriceString() KM</span></p>
					   					</div>
					       				<div class="add-cart">								
											<h4><a href="/showProduct/@sproduct.id">Pogledaj</a></h4>
							    		</div>
										<div class="clear"></div>
									</div>				 
							</div>				
						}
					}
				</div>
			</div>	
 		</div>
	</div>
</div>	
}