@(u: User)(messagesReceived: List[PrivateMessage])(messagesSent: List[PrivateMessage])

@import helper._

@main("Inbox", "inbox"){
	
<div class="wrap">
	<div class="validateAndLogout">
		@flash.get("success")
		@flash.get("fail")
  	</div>

<div class="wrap">	
	<div class="main">
		<div class="content">
			<div class="section group">
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	
				  	
	<!--
		NAŠ HELPER
		-->
		<h3>Primljene poruke</h3>
	<ul>
		
		@for(message <- messagesReceived){
			<li><h5>Poruka od korisnika: <a href="/korisnik/@message.sender.id">@message.sender.username</a></h5>
				<p>Poruka:</p>
				<p>@message.content</p></li>
				<h5><a href="/message/@message.sender.id">Odgovori</a></h5></li>		
		}
	</ul>
	<br></br>
	<ul>
		<h3>Poslane poruke</h3>
		@for(message <- messagesSent){
			<li>
				<p>@message.content</p></li>	
		}
	</ul>				
				 </div>
			  </div>		
			</div> 
		</div>
	</div>
	</div>
</div>  
	}