@(usernameMessage: String)(emailMessage: String)
@import helper._

@main("Registration", "") {
	
<div class="wrap">	
<div class="main">
    	<div class="content">
	    	<div class="section group">
	    		<div class="cont-desc span_1_of_2">
	    			<h1 class="redHeader">@Messages("IzaberiteVrstuKorisnika")</h1><br>
    	<div id=reg-desno>
    			<div class="product_desc">	
						<div id="horizontalTab">
							<ul class="resp-tabs-list">
								<li class="resp-tab-item resp-tab-active" aria-controls="tab_item-0" role="tab" style="color:#243B5D;">@Messages("KlasicniProfil")</li>
								<!--- <li>Review</li> -->
								<div class="clear"></div>
							</ul>
							<div class="resp-tabs-container" >
								<div class="product-desc resp-tab-content resp-tab-content-active" style="display:block; width:500px;" aria-labelledby="tab_item-0">


								<h1 class="choose-reg">@Messages("ObicniProfil")</h1>
				  			<h1 class="choose-reg">@Messages("PostaniteDio")</h1><br>
				  			<div class="btn btn-primary btn-fontNovi"><span><a href="/registration" style="color:white;">@Messages("RegistrujSe")</a></span></div>

				  			</div>
				  				<div class="product_desc">	
							<div id="horizontalTab">
							<ul class="resp-tabs-list">
								<li class="resp-tab-item resp-tab-active" aria-controls="tab_item-0" role="tab" style="color:#243B5D;">@Messages("PikRadnja")</li>
								<div class="clear"></div>
							</ul>
							<div class="resp-tabs-container" >
								<div class="product-desc resp-tab-content resp-tab-content-active" style="display:block; width:500px;" aria-labelledby="tab_item-0">

							<h1 class="choose-reg">@Messages("KomercijalniProfil")</h1>
				  			<h1 class="choose-reg">@Messages("PravnaFizicka")</h1>
				  			<h1 class="choose-reg">@Messages("KoristenjeBesplatno")</h1><br>
				  			<div class="btn btn-primary btn-fontNovi"><span><a href="/registrationPikStore" style="color:white;">@Messages("RegistrujSe")</a></span></div>

				  			</div>
				  		
				  		</div>
				  		</div>
				  		</div>
				  		</div>
				  		</div>
				  		</div>
				  		</div>
				  		</div>
				  		</div>
				  		</div>
				  		</div>
				  		</div>
				  		
				  		
				  		
				  		
			}	  		