@(usernameMessage: String)(emailMessage: String)
@import helper._

@main("Registration", "") {
		
<div class="wrap">
	<div class="validateAndLogout">
	@flash.get("add_user_null_field	")
	</div>
	
	 <div class="main">
    	<div class="content">
    		<div class="section group">
				<div class="col span_2_of_3">
					
				  		<h1 class="redHeader">Izaberite vrstu korisnika</h1><br>
				  		<div id=reg-desno>
				  		<h1>Klasični profil</h1>
				  		<p>Obični, nekomercijalni, besplatni profil za sva fizička ili pravna lica.</p>
				  		<p>Postanite dio kupoprodajnog svijeta!</p>
				  		<div class="btn btn-primary btn-fontNovi"><span><a href="/registration">REGISTRUJ SE</a></span></div>
				  		</div>
				  		<div id=reg-desno>
				  		<h1>Pik Radnja</h1>
				  		<p>Komercijalni profil sa promocijom, izvještajima i još mnogo toga.</p>
				  		<p>Idealno za sva pravna i fizička lica koja se bave trgovinom.</p>
				  		<p>Prvih 30 dana korištenja je potpuno besplatno!</p>
				  		<div class="btn btn-primary btn-fontNovi"><span><a href="/registrationPikStore">REGISTRUJ SE</a></span></div>
				  		</div>
				  		
				  		</div>
				  		</div>
				  		</div>
				  		</div>
				  		</div>
			}	  		