@(u: User)

@main("MainCredits", "") {
		
		
<div class="wrap">

		<div class="validateAndLogout">
			@flash.get("validate")
			@flash.get("error")
			@flash.get("upload_img_success")
			@flash.get("edit_user_success")
			@flash.get("delete_product_success")
			@flash.get("buy_product_success")
		</div>
		
	<div class="main">
    	<div class="content">
    		<div class="section group">
				<div class="rightBox">
					<h2 id="redText"><p>Korisnicko ime:</p></h2>
					<p class="blueText">@u.username</p>
					
					<h2 id="redText"><p>Email: </p></h2>		
					<p class="blueText">@u.email</p>
		
					<h2 id="redText"><ep>Admin: </p></h2>
		
						@if(u.isAdmin){
							<p class="blueText">Da</p>
						}else{
							<p class="blueText">Ne</p>			
						}
					
					<h2 id="redText"><p>Datum registracije:</p></h2>
					<p class="blueText">@u.createdDate</p><br>	
					
					<br>
					<br>
					<h1 class="redHeader">BITPIK KREDITI:</h1><br> 
			
						<h2>Trenutno imate : @u.credits kredita </h2>
						
						<form action="/editUser/@u.id">
    						<a class="btn btn-primary btn-fontNovi" href="#" class="btn">Kupite jos Kredita</a>
						</form>
						<br>
						<form action="/editUser/@u.id">
    						<a class="btn btn-primary btn-fontNovi" href="#" class="btn">Iskoristite Vas Kredit</a>
						</form>
	
					
					
				</div>
				
				<div class="leftBox">
					<div>
						<img class="profilePicture" src="@routes.Assets.at(u.imagePath)" alt="" />
					</div>				
					
					<div class="addImage" >
				  		<form id="imgs"  action="@routes.UserController.saveFile()" method="post" enctype="multipart/form-data" >
							<input class="sendFile" type="file" name="image" id="image" />
							<input class="sendFileBtn" type="submit" value="Send file" />
						</form>
					</div>
					
					<div class="categories">
					  	<ul>
					  	  <li><a href="#">Izbrisi sliku</a></li>
					      <li><a href="#">Poruke</a></li>
					      <li><a href="@routes.CreditController.showCredits()">Krediti</a></li>
					      <li><a href="#">Blokirani korisnici</a></li>
					      <li><a href="#">Javna pitanja</a></li>
					      <li><a href="@routes.UserController.find_bought_products()">Kupljeni proizvodi</a></li>
					      <li><a href="@routes.UserController.findSoldProducts()">Prodati proizvodi</a></li>
					      
						</ul>
					</div>					
	  	    
				</div>
			</div>	
 		</div>
	</div>
</div>	
}