@(u: User)(ac: Integer)

@main("MainCredits", "") {
		
		
<div class="wrap">

		<div class="validateAndLogout">
			@flash.get("validate")
			@flash.get("error")
			@flash.get("upload_img_success")
			@flash.get("edit_user_success")
			@flash.get("delete_product_success")
			@flash.get("buy_product_success")
			@flash.get("buy_credit_success")
			@flash.get("use_credit_poor")
			@flash.get("update_credit_poor")
		</div>
		
	<div class="main">
    	<div class="content">
    		<div class="section group">
				<div class="rightBox">
					<h2 id="redText"><p>@Messages("KorisnickoIme")</p></h2>
					<p class="blueText">@u.username</p>
					
					<h2 id="redText"><p>@Messages("Email") </p></h2>		
					<p class="blueText">@u.email</p>
		
					<h2 id="redText"><ep>Admin: </p></h2>
		
						@if(u.isAdmin){
							<p class="blueText">@Messages("Da")</p>
						}else{
							<p class="blueText">@Messages("Ne")</p>			
						}
					
					<h2 id="redText"><p>@Messages("DatumRegistracije")</p></h2>
					<p class="blueText">@u.createdDate</p><br>	
					
					<br>
					<br>
					<h1 class="redHeader">@Messages("BitpikKrediti")</h1><br> 
						
						<h2>@Messages("TrenutnoImate") @ac kredita </h2>
					  	
						<form action="@routes.CreditController.addCredits()"> 
    						<a class="btn btn-primary btn-fontNovi" href="@routes.CreditController.addCredits()" class="btn">@Messages("KupiteJosKredita")</a>  
						</form> 
						<br>
	
					
				</div>
				
				<div class="leftBox">
					<div>
						<img class="profilePicture" src="@routes.Assets.at(u.imagePath)" alt="" />
					</div>				
					
					<div class="addImage" >
				  		<form id="imgs"  action="@routes.UserController.saveFile()" method="post" enctype="multipart/form-data" >
							<input class="sendFile" type="file" name="image" id="image" />
							<input class="sendFileBtn" type="submit" value="Send file" />
						</form>
					</div>
					
					<div class="categories">
					  	<ul>
					  	  <li><a href="#">@Messages("IzbrisiSliku")</a></li>
					      <li><a href="#">@Messages("Poruke")</a></li>
					      <li><a href="#">@Messages("BlokiraniKorisnici")</a></li>
					      <li><a href="#">@Messages("JavnaPitanja")</a></li>
					      <li><a href="/profile">@Messages("ObjavljeniProizvodi")</a></li>
					      <li><a href="@routes.UserController.find_bought_products()">@Messages("KupljeniProizvodi")</a></li>
					      <li><a href="@routes.UserController.findSoldProducts()">@Messages("ProdatiProizvodi")</a></li>
					      
						</ul>
					</div>					
	  	    
				</div>
			</div>	
 		</div>
	</div>
</div>	
}