@(usernameSes: String)(mc : MainCategory)(mainCategoryList: List[MainCategory])(adminList: List[String])
@import helper._


@main("editCategory") {
		
		<div class="wrap">
	<div class="header">
		<div class="headertop_desc">
			<div class="logo">
				<a href="/"><img src="@routes.Assets.at("images/pik.ba.jpg")" width="75" heigth="75" alt=""></a>
			</div>
			<div class="account_desc">
				<ul>
					@if(usernameSes.equals("")) {
					<li><a href="/registration">Registracija</a></li>
					<li><a href="/login">Login</a></li>
					}
					@if(!usernameSes.isEmpty){
						<li><a href="/addProduct">Objavite oglas</a></li>
						<li><a href="/profile">Korisnik @usernameSes</a></li>
						<li><a href="/logout">Logout</a></li>
					}
					
				</div>
			<div class="clear"></div>
		</div>
		<div class="header_top">
			
			  <div class="cart">
			  </div>
			  <script type="text/javascript">
			function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;

					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});	
				}
			}

			$(function() {

				var dd = new DropDown( $('#dd') );

				$(document).click(function() {
					// all dropdowns
					$('.wrapper-dropdown-2').removeClass('active');
				});

			});

		</script>
	 <div class="clear"></div>
  </div>
	<div class="header_bottom">
	     	<div class="menu">
	     		<ul>
			    	<li class="active"><a href="/">Početna</a></li>
			    	<li><a href="#">Radnje</a></li>
			    	<li><a href="#">Nekretnine</a></li>
			    	<li><a href="#">Hitno</a></li>
			    	<li><a href="#">Servisi i usluge</a></li>
			    	@if(adminList.contains(usernameSes)){
			    		<li><a href="/korisnici">Korisnici</a></li>
			    		<li><a href="/editMainCategory">Kategorije</a></li>
			    		}
			    	<div class="clear"></div>
     			</ul>
	     	</div>
	     	<div class="search_box">
	     		<form>
	     			<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
	     		</form>
	     	</div>
	     	<div class="clear"></div>
	     </div>	
 <div class="main">
    <div class="content">
    	<div class="section group">
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	<h1 id="BigTextCatgory">Izmijeni ime kategorije:</h1><br>
	<!--
		NAŠ HELPER 
		
		MINIMUM of three characters is here!! 
		-->
		@helper.form(routes.CategoryController.saveEditMainCategory(mc.id),'id->"productForm") {
		
			<input pattern=".{3,30}" required title="Od 3 do 30 karaktera" type="text" value="@mc.name" id="name" name="name" required/>
					<div id="buttonPossition">
						<input type="submit" value="Spasi" />
					</div>
				  </div>
  				</div>

				<div class="col span_1_of_3">
					<div class="contact_info">
						
				 </div>
			  </div>		
         </div> 
    </div>
 </div>
   
	}
}

