@(usernameSes: String)(p : Product)(mainCategoryList: List[MainCategory])
@import helper._


@main("editProduct", "") {
		
<div class="wrap">
 <div class="main">
    <div class="content">
    	<div class="section group">
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	<h1>EDITOVANJE ARTIKLA</h1><br>
	<!--
		NAŠ HELPER 
		
		MINIMUM of three characters is here!! 
		-->
		@helper.form(routes.ProductController.saveEditedProduct(p.id),'id->"productForm") {
			<h5>Naziv:</h5>
			<input pattern=".{3,30}" required title="Od 3 do 30 karaktera" type="text" value="@p.name" id="name" name="name" required/>
			<h5>Opis:</h5>
			<input pattern=".{3,140}" required title="Od 3 do 140 karaktera" type="text" value="@p.desc" id="desc" name="desc" required/>
			<h5>Cijena:</h5>			
			<input type="number" min="1" max="999999999" step="any" value="@p.price" id="price" name="price" required/>
			<br><br>
			<script>
  				
 			 </script>
  			<style>
    			fieldset {
      			border: 0;
    			}
    		label {
      			display: block;
      			margin: 0 0 0 0;
    		}
    		select {
  		    	width: 50%;
  		    	
   			}
    		.overflow {
      			height: 200px;
    		}
 			 </style>
			
			<body>
 
			<div class="demo">
 
			<form action="#">
 
  			<fieldset>
    		<label for="category">Kategorija</label>
    		<select name="category" id="category">
    		
      			@if(mainCategoryList.size() > 0 ) {
				  	@for(mainCategory <- mainCategoryList) {
				  		<option>@mainCategory.name</option>
				  	}
				}
				
    		</select>
 
    
			</fieldset>
 			<fieldset>

   			<label for="availability">Dostupnost</label>

    		<select name="availability" id="availability">

     			<option selected="selected">Svugdje</option>

     			<option>Unutar BiH</option>

      			<option>Sarajevo</option>

    			<option>Unsko sanski</option>

    			<option>Posavski</option>

     			<option>Tuzlanski</option>

     			<option>Zenicko-dobojski</option>
			
		    	<option>Bosansko-Podrinjski</option>

   				<option>Srednjo-bosanski</option>

    			<option>Zapadno-hercegovacki</option>
	
    			<option>Livanjski</option>

     			<option>Hercegovacko-neretvanski</option>

   		   		<option>Distrikt Brcko</option>

  		    	<option>Banjalucka</option>

  		    	<option>Dobojsko-bijeljinska</option>

   		   		<option>Sarajevsko-zvornicka</option>

   		 		<option>Focansko-trebinjska</option>

       
   			 </select>


			</fieldset> 

			</form>


			
			<input type="submit" value="Spasi" />
				  </div>
  				</div>

				<div class="col span_1_of_3">
					<div class="contact_info">
						
				 </div>
			  </div>		
         </div> 
    </div>
 
</div>
   
	}
}

