@(usernameSes: String)(u: User)(adminList: List[String])(isAdmin: Boolean)
@import helper._


@main("editUser", "") {
		
<div class="wrap">
	<div class="main">
    	<div class="content">
    		<div class="section group">
				<div class="col span_2_of_3">
					<div class="contact-form">
				  		<h1 class="redHeader">Registracija</h1><br>
							<!--NAŠ HELPER  MINIMUM of three characters is here!! -->
							
							@helper.form(routes.UserController.saveEditedUser(u.id),'id->"nameForm") {
								<h5 id="editProfileText">Ime:</h5>
								<input pattern=".{3,20}" required title="Od 3 do 20 karaktera" type="text" value="@u.username" id="username" name="username" required/>
								
								<h5 id="editProfileText">Lozinka:</h5>
								<input pattern=".{3,25}" required title="Od 3 do 25 karaktera" type="password" value="@u.password" id="password" name="password" required/>
								
								<h5 id="editProfileText">Email:</h5>			
								<input type="email" value="@u.email" id="email" name="email" required/>
									@if(isAdmin){
										<fieldset>
						   				<label for="isAdmin">Admin</label>
						    			<select name="isAdmin" id="isAdmin">
						     				<option selected="selected">false</option>
						     				<option>true</option> 				
					    				</select>
					     				</fieldset>
									}
								<input class="buttonRed" type="submit" value="Spasi promjene" />
					</div>
				</div>	
			</div>
		</div>		
	</div> 
</div>   
							}
}