@(username: String)(faqList: List[FAQ])(user: User)
@import helper._

@main("FAQs", "") {
	
<div class="wrap">
	
 <div class="main">
    <div class="content">
    	<div class="section group">
				
				<h1 class="redHeader">FAQs Pitanja & Odgovori:</h1><br>  	

					<table border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td width="100%"><form name="ddmessage"><table border="0" width="100%" cellspacing="0" cellpadding="0">
				        <tr>
				          <td width="100%">
				          <select id="selectbox" name="selectbox" size="1" onChange="changecontent(this)">
							<!-- PITANJA - OPCIJE U NIZU! -->			          
				          	  @if(faqList.size() > 0 ) {
							         <option selected value="0">Pitanja</option>
									@for(faq <- faqList) {
							            <option selected value="@faq.id">@faq.question</option>
							            }
							         }
				          </select><br>
				          </td>
				        </tr>
				        <tr>
				        <style type="text/css">
    						textarea { border: none; resize: none; }
    					</style>
				          <td width="100%"><textarea rows="5" name="contentbox" cols="100" wrap="virtual" readonly></textarea><br></td>
				        </tr>
				       
				      </table>
				    </form>
				    </td>
				  </tr>
				</table>
				
				<p>
				
				<script language="JavaScript">
				
	<!-- ODGOVORI - OPCIJE U NIZU! -->
				
				var theAnswers=new Array()
				@if(faqList.size() > 0 ) {
							theAnswers[0]='Ovdje su odgovori!'
						@for(faq <- faqList) {
							theAnswers[@faq.id]='@faq.answer';							
							
							}

					}	
				 
				function changecontent(which){
					document.ddmessage.contentbox.value=theAnswers[which.value]
				}
							
				document.ddmessage.contentbox.value=theAnswers[document.ddmessage.selectbox.value]
				
	<!-- FUNKCIJA UZIMA ID FAQ-A I REDIRECTA NA EDITFAQ/ID! -->			
				function editFaq() {
					var id = document.getElementById("selectbox").value;
					window.location = "/editFaq/"+id;
				}
	<!-- FUNKCIJA UZIMA ID FAQ-A I REDIRECTA NA DELETEFAQ/ID! -->				
				function deleteFaq() {
					if(confirm('Da li si siguran-na da zelis izbrisati ovo pitanje?')==true)
					{
						var id = document.getElementById("selectbox").value;
						window.location = "/deleteFaq/"+id;
					}
				}
	
				</script>
	@if(user != null) {	
				 @if(user.isAdmin) {
					<button id="link" onclick="editFaq()">Edituj</button>
					<button id="link1" onclick="deleteFaq()" >Izbriši</button>
				}
				 
 		 @if(user.isAdmin) {
			 				<br><br>
			 				<h1 class="redHeader">Dodaj Pitanje & Odgovor:</h1><br>
		 						<div>
										@helper.form(routes.FAQController.addFaq(), 'id -> "faqForm") {
											<h5 id="editProfileText">Pitanje :</h5>
											<input pattern=".{3,250}" type="text" value="" id="question" name="question" size="25" required/>
											
											<h5 id="editProfileText">Odgovor :</h5>
											<input pattern=".{3,250}" type="text" value="" id="answer" name="answer" size="65" required/>
										<br>	
		 									<input class="buttonRed" type="submit" value="Add a FAQ" />
		 						</div>
		 							}
							}
				}
				
			 </div>
 		</div>
 </div>
		}
 
 
	
