@(sproducts: List[Product])(products: List[Product])(mainCategoryList: List[MainCategory])(shops: List[User])

@main("BitPik", "index") {
	
	<link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/slider.css")">

<div class="wrap">
<body>
<div class="header">
	<div class="validateAndLogout">
		@flash.get("validate")
		@flash.get("logout")    
		@flash.get("login_success ")
	</div>
	<div class="header_slide">
		<div class="header_bottom_left">	
			<div class="categories">
				<ul>
					<h3>@Messages("Kategorije")</h3>
				  		
				  		@if(mainCategoryList.size() > 0 ) {
				  			@for(mainCategory <- mainCategoryList) {
				  				<li><a href="kategorija/@mainCategory.id">@mainCategory.name</a></li>
				  			}
				  		}
				  		
				</ul>
			</div>					
		</div>
		<div class="header_bottom_right">					 
			<div class="slider">					     
				<div id="slider">
			    	<div id="mover">
			        	<div id="slide-1" class="slide">			                    
							<div class="slider-img">
								<a href="#"><img src="@routes.Assets.at("images/slide-1-image.png")" alt="learn more" /></a>									    
							</div>
						    <div class="slider-text">
		                    	<h1>@Messages("reklama")<br><span>@Messages("VASA")</span></h1>
		                   		<h2>@Messages("PopustDvadesetPosto")</h2>
								<div class="features_list">
									<h4>@Messages("DaSaznateVise")</h4>						               
							    </div>
							    <a href="#" class="button">@Messages("KontaktirajteOdmah")</a>
					       </div>			               
							<div class="clear"></div>				
				        </div>	
						<div class="slide">
							<div class="slider-text">
		                    	<h1>@Messages("reklama")<br><span>@Messages("VASA")</span></h1>
		                    	<h2>@Messages("PopustCetrdeset")</h2>
								<div class="features_list">
									<h4>@Messages("DaSaznateVise")</h4>							               
								</div>
							    <a href="#" class="button">@Messages("KontaktirajteOdmah")</a>
					    	</div>		
						    <div class="slider-img">
								<a href="#"><img src="@routes.Assets.at("images/slide-3-image.jpg")" alt="learn more" /></a>
							</div>						             					                 
							<div class="clear"></div>				
				        </div>
				        <div class="slide">						             	
					    	<div class="slider-img">
								<a href="#"><img src="@routes.Assets.at("images/slide-2-image.jpg")" alt="learn more" /></a>
							</div>
							<div class="slider-text">
		                    	<h1>@Messages("reklama")<br><span>@Messages("VASA")</span></h1>
		                    	<h2>@Messages("PopustDeset")</h2>
								<div class="features_list">
									<h4>@Messages("DaSaznateVise")</h4>							               
								</div>
							    <a href="#" class="button">@Messages("KontaktirajteOdmah")</a>
					   		</div>	
							<div class="clear"></div>				
				        </div>												
			        </div>		
		        </div>
			<div class="clear"></div>	
				
	  		</div>
	  		
		   <p>@Messages("EkskluzivnePikRadnje")<a href="/pikRadnje">@Messages("SaznajVise")</a></p>
			
		   <div class="izdvojeni-index radnje">
			
			<div style="float:left;display:block;overflow:hidden;max-height:180px;width:1100px; border:1px solid #EEE;"> 
			
			
			</span></h2>
			   	      @if(shops.size() > 0) {
	      				       @for(shop <- shops) {						
							   
					 			<a href="/korisnik/@shop.id"><img src="@routes.Assets.at(shop.imagePath)" alt="" class="productImg"/ style="height: 190px; width: 190px; background-position: center center; border:1px solid #EEE;"></a>
					 			
								}				 
							
						}
							</div>			
							</div>
					  
				</div>
			  </div>   
		
		<div class="clear"></div>	
	</div>

	<div class="clear"></div>
	<div class="main">
		<div class="content">
		<div class="clear"></div>
			<div class="section group">	      	      
	      
    		@if(sproducts.size() > 0 ) {
    		<div class="content_top">
				<div class="heading">
			    	<h3>@Messages("IzdvojeniArtikli")</h3>
			    </div>
			    <div class="see">
			    	<p><a href="#">@Messages("Pogledaj")</a></p>
			    </div>
			    <div class="clear"></div>
			</div>
			
				<div class="section group">	      	      
	      
				
						@for(sproduct <- sproducts) {						
							<div class="grid_1_of_4 images_1_of_4" >
					 			<a href="/showProduct/@sproduct.id"><img src="@routes.Assets.at(sproduct.productImagePath)" alt="" class="productImg"/></a>
					 			
									<div class="price-details">
				       					<div class="price-number">
											<p style="padding-top:33px;"><span class="rupees">@sproduct.getPriceString() @Messages("KM")</span></p>
					   					 </div>
					   					  <div>
					   					 <p style="float:initial; display:inline-block; padding-right:87px;">@Messages("Objavljen"):@sproduct.publishedDate<p></div>
					       				<div class="add-cart">								
											<h4><a href="/showProduct/@sproduct.id">@Messages("Pogledaj")</a></h4>
							    		 </div>
										 <div class="clear"></div>
									</div>				 
							</div>				
						}
					
				</div>
				}
				
		<!-- Ovo je jedan red od cetiri boxa proizvoda - kraj -->
				
			<!-- Ovo je jedan red od cetiri boxa proizvoda - pocetak -->
			<div class="content_top">
				<div class="heading">
			    	<h3>@Messages("Artikli")</h3>
			    </div>
			    <div class="see">
			    	<p><a href="#">@Messages("Pogledaj")</a></p>
			    </div>
			    <div class="clear"></div>
			</div>
			
				<div class="section group">	      	      
	      
					@if(products.size() > 0 ) {
						@for(product <- products) {						
							<div class="grid_1_of_4 images_1_of_4">
					 			<a class="productImg" href="/showProduct/@product.id"><img src="@routes.Assets.at(product.productImagePath)" alt="" /></a>
					 			<h2>@product.name </h2>
									<div class="price-details">
									
				       					<div class="price-number">
											<p style="padding-top:33px;"><span class="rupees">@product.getPriceString() @Messages("KM")</span></p>
					   					 </div>
					   					  <div>
					   					 <p style="float:left; display:inline-block; padding-right:30px;">@Messages("Objavljen"):@product.publishedDate<p></div>
					       					<div class="add-cart">								
												<h4><a href="/showProduct/@product.id">@Messages("Pogledaj")</a></h4>
							    			 </div>
							    		
							    			 
											 <div class="clear"></div>
									</div>				 
							</div>				
						}
					}
				</div>

</body>
		<!-- Ovo je jedan red od cetiri boxa proizvoda - kraj -->
			
    	</div>
	</div>
</div>
</div>

   
}