@(sproducts: List[Product])(products: List[Product])(mainCategoryList: List[MainCategory])

@main("BitPik", "index") {
	
	<link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/slider.css")">

<div class="wrap">
<div class="header">
	<div class="validateAndLogout">
		@flash.get("validate")
		@flash.get("logout")    
		@flash.get("login_success ")
	</div>
		<div><a href="/newViewForFilter">Napredno Pretraživanje</a></div>
	<div class="header_slide">
		<div class="header_bottom_left">	
			<div class="categories">
				<ul>
					<h3>Kategorije</h3>
				  		
				  		@if(mainCategoryList.size() > 0 ) {
				  			@for(mainCategory <- mainCategoryList) {
				  				<li><a href="kategorija/@mainCategory.id">@mainCategory.name</a></li>
				  			}
				  		}
				  		
				</ul>
			</div>					
		</div>
		<div class="header_bottom_right">					 
			<div class="slider">					     
				<div id="slider">
			    	<div id="mover">
			        	<div id="slide-1" class="slide">			                    
							<div class="slider-img">
								<a href="#"><img src="@routes.Assets.at("images/slide-1-image.png")" alt="learn more" /></a>									    
							</div>
						    <div class="slider-text">
		                    	<h1>Reklama<br><span>VASA</span></h1>
		                   		<h2>Popust 20%</h2>
								<div class="features_list">
									<h4>Da saznate vise kontaktirajte nasu marketing sluzbu na linku ispod</h4>						               
							    </div>
							    <a href="#" class="button">Kontaktirajte odmah!</a>
					       </div>			               
							<div class="clear"></div>				
				        </div>	
						<div class="slide">
							<div class="slider-text">
		                    	<h1>Reklama<br><span>VASA</span></h1>
		                    	<h2>Popust 40%</h2>
								<div class="features_list">
									<h4>Da saznate vise kontaktirajte nasu marketing sluzbu na linku ispod</h4>							               
								</div>
							    <a href="#" class="button">Kontaktirajte odmah!</a>
					    	</div>		
						    <div class="slider-img">
								<a href="#"><img src="@routes.Assets.at("images/slide-3-image.jpg")" alt="learn more" /></a>
							</div>						             					                 
							<div class="clear"></div>				
				        </div>
				        <div class="slide">						             	
					    	<div class="slider-img">
								<a href="#"><img src="@routes.Assets.at("images/slide-2-image.jpg")" alt="learn more" /></a>
							</div>
							<div class="slider-text">
		                    	<h1>Reklama<br><span>VASA</span></h1>
		                    	<h2>Popust 10%</h2>
								<div class="features_list">
									<h4>Da saznate vise kontaktirajte nasu marketing sluzbu na linku ispod</h4>							               
								</div>
							    <a href="#" class="button">Kontaktirajte odmah!</a>
					   		</div>	
							<div class="clear"></div>				
				        </div>												
			        </div>		
		        </div>
			<div class="clear"></div>					       
	  		</div>
		</div>
		<div class="clear"></div>	
	</div>
</div>
	<div class="clear"></div>
	<div class="main">
		<div class="content">
		<div class="clear"></div>
			<div class="section group">	      	      
	      
    		@if(sproducts.size() > 0 ) {
    		<div class="content_top">
				<div class="heading">
			    	<h3>Izdvojeni Artikli</h3>
			    </div>
			    <div class="see">
			    	<p><a href="#">Pogledaj</a></p>
			    </div>
			    <div class="clear"></div>
			</div>
				<div class="section group">	      	      
	      
				
						@for(sproduct <- sproducts) {						
							<div class="grid_1_of_4 images_1_of_4" >
					 			<a href="/showProduct/@sproduct.id"><img src="@routes.Assets.at(sproduct.productImagePath)" alt="" class="productImg"/></a>
					 			<h2>@sproduct.name </h2>
									<div class="price-details">
				       					<div class="price-number">
											<div><span class="rupees">@sproduct.price KM</span></div>
					   					 </div>
					       					<div class="add-cart">								
												<h4><a href="/showProduct/@sproduct.id">Pogledaj</a></h4>
							    			 </div>
							    		
							    			 
											 <div class="clear"></div>
									</div>				 
							</div>				
						}
					
				</div>
				}
				
		<!-- Ovo je jedan red od cetiri boxa proizvoda - kraj -->
				
			<!-- Ovo je jedan red od cetiri boxa proizvoda - pocetak -->
			<div class="content_top">
				<div class="heading">
			    	<h3>Artikli</h3>
			    </div>
			    <div class="see">
			    	<p><a href="#">Pogledaj</a></p>
			    </div>
			    <div class="clear"></div>
			</div>
				<div class="section group">	      	      
	      
					@if(products.size() > 0 ) {
						@for(product <- products) {						
							<div class="grid_1_of_4 images_1_of_4">
					 			<a class="productImg" href="/showProduct/@product.id"><img src="@routes.Assets.at(product.productImagePath)" alt="" /></a>
					 			<h2>@product.name </h2>
									<div class="price-details">
				       					<div class="price-number">
											<div><span class="rupees">@product.price KM</span></div>
					   					 </div>
					       					<div class="add-cart">								
												<h4><a href="/showProduct/@product.id">Pogledaj</a></h4>
							    			 </div>
							    		
							    			 
											 <div class="clear"></div>
									</div>				 
							</div>				
						}
					}
				</div>

		<!-- Ovo je jedan red od cetiri boxa proizvoda - kraj -->
			
    	</div>
	</div>
</div>
</div>
   
}
