@(productList: List[Product])(mainCategoryList: List[MainCategory])(mainCategory: MainCategory)

@import helper._

@main("Kategorija", "") {

    
<div class="wrap">
	<div class="main">
		<div class="content">
    		<div class="section group">
				<div class="header_slide">
					<div class="leftBoxCat">				
						<div class="categories">
				  			<ul>
				  				<h3>Kategorije</h3>
				  	
						  		@if(mainCategoryList.size() > 0 ) {
						  			@for(mCategory <- mainCategoryList) {
						  				<li><a href="@mCategory.id">@mCategory.name</a></li>
						  			}
						  		}
				  		
				  			</ul>
						</div>					
					</div>
					<div class="subCatBox">
						<div class="categories">
							<ul id="listOfCategory">
				  			<h3>Podkategorije kategorije @mainCategory.name</h3>
				  		
				  			@if(mainCategory.subCategories.size() > 0 ) {
				  				@for(subCategory <- mainCategory.subCategories) {
				  					<li>
				  						<a href="/podKategorija/@subCategory.id">@subCategory.name</a>
				  					</li>
				  				}
				  			}
				  		
							</ul>
						</div>
					</div>
	      	      	<div class="rightBox">				
	      	      
						@if(productList.size() > 0){
							@for(product <- productList){
							<div class="grid_1_of_4 images_1_of_4">
								<a class="productImg" href="/showProduct/@product.id"><img src="@routes.Assets.at(product.productImagePath)" alt="" /></a>
								<h2 id="oneLineText">@product.name </h2>
								<div class="price-details">
									<div class="price-number2">
										<span class="price-number2">@product.getPriceString() KM</span>
									</div>
									<div class="add-cart2">								
										<h4><a href="/showProduct/@product.id">Pogledaj</a></h4>
							     	</div>
							 		<div class="clear"></div>
								</div>					 
							</div>
				
							}
						}
					</div>
				</div>	
    		</div>
		</div>
	</div>
</div>
   
}