@(productList: List[Product])(mainCategoryList: List[MainCategory])

@main("Kategorija", "") {

    
<div class="wrap">
	<div class="main">
		<div class="content">
    		<div class="section group">
				<div class="header_slide">
					<div class="leftBox">				
						<div class="categories">
				  			<ul>
				  				<h3>Kategorije</h3>
				  	
						  		@if(mainCategoryList.size() > 0 ) {
						  			@for(mainCategory <- mainCategoryList) {
						  				<li><a href="@mainCategory.id">@mainCategory.name</a></li>
						  			}
						  		}
				  		
				  			</ul>
						</div>					
					</div>
			
	      	      	<div class="rightBox">				
	      	      
						@if(productList.size() > 0){
							@for(product <- productList){
							<div class="grid_1_of_4 images_1_of_4">
								<a href="/showProduct/@product.id"><img src="@routes.Assets.at(product.productImagePath)" alt="" /></a>
								<h2 id="oneLineText">@product.name </h2>
								<div class="price-details">
									<div class="price-number2">
										<span class="price-number2">@product.price KM</span>
									</div>
									<div class="add-cart2">								
										<h4><a href="/showProduct/@product.id">Pogledaj</a></h4>
							     	</div>
							 		<div class="clear"></div>
								</div>					 
							</div>
				
							}
						}
					</div>
				</div>	
    		</div>
		</div>
	</div>
</div>
   
}