@(sproducts: List[Product])(products: List[Product])(mainCategoryList: List[MainCategory])(mainCategory: MainCategory)
@import helper._
@main("Kategorija", "") {
<div class="wrap">
   <div class="main">
      <div class="content">
         <div class="section group">
            <div class="header_slide">
               <div class="leftBoxCat">
                  <div class="categories">
                     <ul>
                        <h3>Kategorije</h3>
                        @if(mainCategoryList.size() > 0 ) {
                        @for(mCategory <- mainCategoryList) {
                        <li><a href="@mCategory.id">@mCategory.name</a></li>
                        }
                        }
                     </ul>
                  </div>
               </div>
               <div class="subCatBox">
                  <div class="categories">
                     <ul id="listOfCategory">
			         	<!-- Podkategorije kategorije -->
                        <h3>@mainCategory.name</h3>
                        @if(mainCategory.subCategories.size() > 0 ) {
                        @for(subCategory <- mainCategory.subCategories) {
                        <li>
                           <a href="/podKategorija/@subCategory.id">@subCategory.name</a>
                        </li>
                        }
                        }
                     </ul>
                  </div>
				</div>
			
			<!-- Početak naprednog Search Box-a -->
            <div class="filter col-xs-2" style="padding: 15px; border: 3px solid #C8C8C8; background-color: #FFF3CF; margin: 0px 20px;">
              <form action="@routes.ProductController.filteredSearch(Product.getIds(products),Product.getIds(sproducts))" method="POST">
            <h1 class="redHeaderAS">Raspon cijene (od-do)</h1>
               <input type="number" min="1" max="9999999" step="any" value="" id="od" style="height:25px; width: 40%; font-size:18px;" name="priceMin"/>
               <input type="number" min="1" max="9999999" step="any" value="" id="do" style="height:25px; width: 40%; font-size:18px;" name="priceMax"/>
               					
               <!-- This is css for Kategorija and availability dropdown meni -->
               <style>
                  fieldset {
                  border: 0;
                  font-style: bold;
                  }
                  label {
                  display: block;
                  margin: 0 0 0 0;
                  }
                  select {
                  width: 16%;
                  height: 40px;
                  font-weight: bold;
                  color: #464646;
                  font-size: 1em;
                  font-family: Arial, Helvetica, sans-serif;
                  padding: 6px;
                  margin: 3px;
                  }
                  .overflow {
                  height: 400px;
                  }
               </style>
                             
               <script language="JavaScript">
                  var e = document.getElementById("categoryString");
                  function showHideCategoryFields() {
                  	var selected = e.value;
                  
                  	var hiddenDivs = document.querySelectorAll('.fieldsetToHide');
                  
                  	for (var i = 0; i < hiddenDivs.length; i++) {
                  		hiddenDivs[i].style.display = 'none';
                  	}
                  
                  	var actives = document.querySelectorAll("#subCategoryString");
                  
                  	for (var i = 0; i < actives.length; i++) {
                  		actives[i].id = "inactive";
                  		actives[i].name = "inactive";
                  	}
                                   
                  	var shown = document.getElementById(selected);
                  	shown.style.display = 'block';
                  	
                  	var children = shown.childNodes;
                  	var node = children[1];
                  	var children2 = node.childNodes;
                  	var selectNode = children2[3];
                  	
                  	selectNode.id = "subCategoryString";
                  	selectNode.name = "subCategoryString";
                  	                 	
                  };
                  
                  e.onchange = showHideCategoryFields;
                  
                  showHideCategoryFields();
                  
               </script>
               
               <br><br>
               <fieldset>
                  <label class="redHeaderAS" for="availability" width=3px>Dostupnost</label>
                  <select name="availabilityS" id="availabilityS" style="height:33px; width:90%; font-size:24px;">
                     <option selected="selected">Svugdje</option>
                     <option>Unutar BiH</option>
                     <option>Sarajevo</option>
                     <option>Unsko-sanski</option>
                     <option>Posavski</option>
                     <option>Tuzlanski</option>
                     <option>Zeničko-dobojski</option>
                     <option>Bosansko-podrinjski</option>
                     <option>Srednjobosanski</option>
                     <option>Zapadnohercegovački</option>
                     <option>Livanjski</option>
                     <option>Hercegovačko-neretvanski</option>
                     <option>Distrikt Brčko</option>
                     <option>Banjalučka</option>
                     <option>Dobojsko-bijeljinska</option>
                     <option>Sarajevsko-zvornička</option>
                     <option>Fočansko-trebinjska</option>
                  </select>
               </fieldset>
               
               <br>
               <h1 class="redHeaderAS">Opis</h1>
               <input type="text" value="" id="desc" name="desc" style="height:25px; width:95%; font-size:18px;" />	
               <input class="btn btn-primary btn-fontNovi" style="margin-left: 1%; margin-top: 15px;" type="submit" value="Traži" />
	         </form>
            </div>
            </div>
			<div class="clear"></div>
			<!-- Kraj naprednog Search Box-a -->

               <div class="content_top">
                  <div class="heading">
                     <h3>Artikli Kategorije - @mainCategory.name</h3>
                  </div>
                  <div class="see">
                     <p><a href="#">Pogledaj</a></p>
                  </div>
                  <div class="clear"></div>
               </div>
               <div class="clear"></div>
               <div class="main">
                  <div class="content">
                     <div class="clear"></div>
                     <div class="section group">
                        @if(sproducts.size() > 0 ) {
                        <div class="content_top">
                           <div class="heading">
                              <h3>Izdvojeni Artikli</h3>
                           </div>
                           <div class="see">
                              <p><a href="#">Pogledaj</a></p>
                           </div>
                           <div class="clear"></div>
                        </div>
                        <div class="section group">
                           @for(sproduct <- sproducts) {						
                           <div class="grid_1_of_4 images_1_of_4" >
                              <a href="/showProduct/@sproduct.id"><img src="@routes.Assets.at(sproduct.productImagePath)" alt="" class="productImg"/></a>
                              <div class="price-details">
                                 <div class="price-number">
                                    <p><span class="rupees">@sproduct.price KM</span></p>
                                 </div>
                                 <div class="add-cart">
                                    <h4><a href="/showProduct/@sproduct.id">Pogledaj</a></h4>
                                 </div>
                                 <div class="clear"></div>
                              </div>
                           </div>
                           }
                        </div>
                        }
                        
                        <div class="section group">
                           @if(products.size() > 0 ) {
                           @for(product <- products) {						
                           <div class="grid_1_of_4 images_1_of_4">
                              <a class="productImg" href="/showProduct/@product.id"><img src="@routes.Assets.at(product.productImagePath)" alt="" /></a>
                              <h2>@product.name </h2>
                              <div class="price-details">
                                 <div class="price-number">
                                    <p><span class="rupees">@product.price KM</span></p>
                                 </div>
                                 <div class="add-cart">
                                    <h4><a href="/showProduct/@product.id">Pogledaj</a></h4>
                                 </div>
                                 <div class="clear"></div>
                              </div>
                           </div>
                           }
                           }
                        </div>
                        <!-- Ovo je jedan red od cetiri boxa proizvoda - kraj -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
}