@(usernameSes: String)(user: User)(products: List[Product])(adminList: List[String])
@import helper._


@main("Profile", "") {
		
<div class="wrap">
	
 <div class="main">
    <div class="content">
    	<div class="section group">
				
				  	<h2><em>Username </em></h2><br>
		
			<p>@user.username</p><br>
			
		<h2><em>Email: </em></h2><br>
		
			<p>@user.email</p><br>
		
		<h2><em>Admin </em></h2><br>
		
			@if(user.isAdmin){
				<p>Da</p><br>
			}else{
				<p>Ne</p><br>				
			}
		<h2><em>Datum registracije </em></h2><br>
		
			<p>@user.createdDate</p><br>	
	
	<a href="/editUser/@user.id">Edituj</a>
			
					<div class="leftBox">
						<div><a class="profilePicture" ><img src="@routes.Assets.at("images/profileimg.png")" alt="" /></a></div>
										
				<div class="categories">
				  <ul>
				      <li><a href="#">Moj pik</a></li>
				      <li><a href="#">Poruke</a></li>
				      <li><a href="#">Blokirani korisnici</a></li>
				      <li><a href="#">Javna pitanja</a></li>
				      <li><a href="#">Spaseni proizvodi</a></li>
				
				  </ul>
				</div>					
	  	    
					</div>
					
					<div class="rightBox">
					
					
			@if(!products.isEmpty) {
				@for(product <- products) {
									
					
						<div class="grid_1_of_4 images_1_of_4">
							 <a href="/showProduct/@product.id"><img src="@routes.Assets.at("images/no-img.jpg")" alt="" /></a>
					 		 <h2>@product.name </h2>
					 		 @form(routes.ProductController.deleteProduct(product.id)) {
                    <input type="submit" value="Delete"  onclick="return confirm('Are you sure you want to delete this product?');">
                }
							<div class="price-details">
				       			<div class="price-number">
							<p><span class="rupees">@product.price KM</span></p>
					    	</div>
					       		<div class="add-cart">								
									<h4><a href="/showProduct/@product.id">View</a></h4>
							    </div>
							 <div class="clear"></div>
						</div>
					
					</div>
				}
			}

	
   
<!-- delete user profile -->
		@if(!usernameSes.equals(user.username)){
				@if(adminList.contains(usernameSes)){
					@form(routes.UserController.deleteUser(user.id)) {
			        	  <input type="submit" value="Izbrisi korisnika"  onclick="return confirm('Are you sure you want to delete this user?');">
                    }
                    
                  } 
			   }
<!-- promijeni admin-a -->
            		
         </div> 
    </div>
 </div>
</div>
	
}