@(usernameSes: String)(userList: List[User])(adminList: List[String])
@import helper._


@main("Korisnici") {
		
		<div class="wrap">
	<div class="header">
		<div class="headertop_desc">
			<div class="logo">
				<a href="/"><img src="@routes.Assets.at("images/pik.ba.jpg")" width="75" heigth="75" alt=""></a>
			</div>
			<div class="account_desc">
					@if(usernameSes.equals("")) {
					<li><a href="/registration">Registracija</a></li>
					<li><a href="/login">Login</a></li>
					}
					@if(!usernameSes.isEmpty){
						<li><a href="/addProduct">Objavite oglas</a></li>
						<li><a href="/profile">Korisnik @usernameSes</a></li>
						<li><a href="/logout">Logout</a></li>
					}
					
			</div>
			<div class="clear"></div>
		</div>
		<div class="header_top">
			
			  <div class="cart">
			  </div>
			  <script type="text/javascript">
			function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;
					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});	
				}
			}
			$(function() {
				var dd = new DropDown( $('#dd') );
				$(document).click(function() {
					// all dropdowns
					$('.wrapper-dropdown-2').removeClass('active');
				});
			});
		</script>
	 <div class="clear"></div>
  </div>
	<div class="header_bottom">
	     	<div class="menu">
	     		<ul>
			    	<li class="active"><a href="/">Početna</a></li>
			    	<li><a href="#">Moja prodaja</a></li>
			    	<li><a href="#">Kupljeni proizvidi</a></li>
			    	<li><a href="#">Poruke</a></li>
			    	<li><a href="/profile">Moj profil: @usernameSes</a></li>
			    	@if(adminList.contains(usernameSes)){
			    		<li><a href="/korisnici">Korisnici</a></li>
			    		<li><a href="/listaKategorija">Kategorije</a></li>
			    		}
			    	<div class="clear"></div>
     			</ul>
	     	</div>
	     	
	     	<div class="clear"></div>
	     </div>	
 <div class="main">
    <div class="content">
    	<div class="section group">
				
				  	
	<!-- za helper -->
	
	
			<div class="listOfUsers">										
				<div class="categories">
				  <ul>
				  @if(userList.size() > 0 ) {
						@for(user <- userList) {
				      <li><a href="/korisnik/@user.id">@user.username</a></li>			     
						}
		
					}
				  </ul>
				</div>						  	    
			</div>

			
					
					
			 
    </div>
 </div>
	
}

