@(userSes: User)(user: User)(products: List[Product])
@import helper._

@main("Korisnik", "") {
		
<div class="wrap">	
		<div class="validateAndLogout">
			@flash.get("chng_pass_success")
		</div>
	<div class="main">
    	<div class="content">
    		<div class="section group">
				<div class="rightBox">
			
					<h2 id="redText">@Messages("KorisnickoIme")</h2>
					<p class="blueText">@user.username</p>
				
					<h2 id="redText">@Messages("Email")</h2>
					<p class="blueText">@user.email</p>
					
					@if(!user.isPikStore){
					<h2 id="redText">Admin:</h2>
						@if(user.isAdmin){
							<p class="blueText">@Messages("Da")</p>
						}else{
							<p class="blueText">@Messages("Ne")</p>				
						}
					}
					<h2 id="redText">@Messages("DatumRegistracije")</h2>
					<p class="blueText">@user.createdDate</p>
									
					@if(user.isPikStore){
						
					
						<h2 id="redText">@Messages("NazivFirme"):</h2>
						<p class="blueText">@user.storeName</p>

						<h2 id="redText">@Messages("Adresa"):</h2>

						<p class="blueText">@user.address</p>
						
						<h2 id="redText">@Messages("Grad"):</h2>
						<p class="blueText">@user.city</p>
						
						<h2 id="redText">@Messages("Djelatnost"):</h2>
						<p class="blueText">@user.storeCategory.name</p>
					
					}
					<br>
					<br>
				@if(userSes != null) {
						<a href="/message/@user.id" class="btn btn-primary btn-fontNovi">@Messages("PosaljiPoruku")</a>
				}
					<br>
					<br>
			@if(userSes != null) {
					@helper.form(routes.UserController.changeAdmin(user.id),'id->"adminForm") {
						@if(userSes.isAdmin && !user.isProtectedAdmin){
						<fieldset>
						   	<label for="isAdmin">Admin:</label>
						    <select id="isAdmin" name="isAdmin" id="isAdmin">
						    	@if(user.isAdmin) {
						    		<option>false</option>
						     		<option selected="selected">true</option>
						    	} else {
						    		<option selected="selected">false</option>
						     		<option>true</option>
						    	}					     		 			
					    	</select>
					    	<input type="submit" value="Spasi admin status" />
					     </fieldset>
					    
						}
						
					}				
					<br>
		
					<!-- delete user -->
						@if(!userSes.username.equals(user.username)){
							@if(userSes.isAdmin && !user.isAdmin && !user.isProtectedAdmin){
								@form(routes.UserController.deleteUser(user.id)) {
									<input class="btnRed" type="submit" value="Izbriši korisnika"  onclick="return confirm('Da li ste sigurni da želite izbrisati korisnika?');">
	                    		}
	                    		
	                  		} 
				   		}
					
					<!-- change profile info -->
					@if(userSes.username.equals(user.username)){
						<form action="/editUser/@user.id">
    						<a href="/editUser/@user.id" class="btn2">@Messages("IzmijeniProfil")</a>
						</form>

					}	
				}

				</div>
			
				<div class="leftBox">
					<div><a class="profilePicture" ><img src="@user.imagePathOne.getSize(200,200)" alt="" /></a></div>
										
					<div class="categories">
					  <ul>


					      <li><a href="#">@Messages("MojPik")</a></li>
					      <li><a href="#">@Messages("Poruke")</a></li>
					      <li><a href="#">@Messages("BlokiraniKorisnici")</a></li>
					      <li><a href="#">@Messages("JavnaPitanja")</a></li>
					      <li><a href="@routes.UserController.allUsersComment(user.id)">Dojmovi</a></li>
					      <li><a href="#">@Messages("SpaseniProizvodi")</a></li>

					  </ul>
					</div>					
	  	 
				</div>
					
				<div id="productsOnProfile">
					
					@if(!products.isEmpty) {
						<h1 class="redHeader">@Messages("ObjavljeniProizvodi"):</h1><br> 
						@for(product <- products) {
									
						<div class="grid_1_of_4 images_1_of_4">
							 <a href="/showProduct/@product.id"><img src="@product.imgPathList.get(0).getSize(200, 200)" alt="" /></a>
					 		 <h2>@product.name </h2>
						 	@if(userSes != null) {	 
										@if(userSes.equals(user)){
												@form(routes.ProductController.deleteProduct(product.id)) {
				                   					 <input class="btnDelete" type="submit" value="Izbriši proizvod" onclick="return confirm('Da li ste sigurni da želite izbrisati proizvod?');">
				                				}
			                			}
		                		}
							<div class="price-details">
				       		
				       			<div class="price-number"><p><span class="rupees">@product.price KM</span></p></div>
					       		<div class="add-cart"><h4><a href="/showProduct/@product.id">@Messages("Pogledaj")</a></h4></div>
								<div class="clear"></div>
							</div>
					
						</div>
						}
					}
				
				</div>
	
         	</div> 
    	</div>
 	</div>
</div>
	
}