@(sproducts: List[Product])(productList: List[Product])(userList: List[User])

@main("Proizvodi", "Korisnici") {
<div class="wrap">

<div class="content">
  <div class="section group">   
        
			<div class="filter col-xs-2" style="padding: 15px; border: 3px solid #E1E4E1; background-color: #FCFCFC; margin: 0px 10px; -webkit-border-radius: 6px;">
              <form action="@routes.ProductController.filteredSearch(Product.getIds(productList),Product.getIds(sproducts))" method="POST">
            <h1 class="redHeaderAS">@Messages("RasponCijene")</h1>

               <input type="number" min="1" max="9999999" step="any" value="" id="od" style="height:25px; width: 40%; font-size:18px;" name="priceMin"/>
               <input type="number" min="1" max="9999999" step="any" value="" id="do" style="height:25px; width: 40%; font-size:18px;" name="priceMax"/>
               					
               <!-- This is css for Kategorija and availability dropdown meni -->
               <style>
                  fieldset {
                  border: 0;
                  font-style: bold;
                  }
                  label {
                  display: block;
                  margin: 0 0 0 0;
                  }
                  select {
                  width: 16%;
                  height: 40px;
                  font-weight: bold;
                  color: #464646;
                  font-size: 1em;
                  font-family: Arial, Helvetica, sans-serif;
                  padding: 6px;
                  margin: 3px;
                  }
                  .overflow {
                  height: 400px;
                  }
               </style>
                           
               <script language="JavaScript">
                  var e = document.getElementById("categoryString");
                  function showHideCategoryFields() {
                  	var selected = e.value;
                  
                  	var hiddenDivs = document.querySelectorAll('.fieldsetToHide');
                  
                  	for (var i = 0; i < hiddenDivs.length; i++) {
                  		hiddenDivs[i].style.display = 'none';
                  	}
                  
                  	var actives = document.querySelectorAll("#subCategoryString");
                  
                  	for (var i = 0; i < actives.length; i++) {
                  		actives[i].id = "inactive";
                  		actives[i].name = "inactive";
                  	}
                                   
                  	var shown = document.getElementById(selected);
                  	shown.style.display = 'block';
                  	
                  	var children = shown.childNodes;
                  	var node = children[1];
                  	var children2 = node.childNodes;
                  	var selectNode = children2[3];
                  	
                  	selectNode.id = "subCategoryString";
                  	selectNode.name = "subCategoryString";
                  	                 	
                  };
                  
                  e.onchange = showHideCategoryFields;
                  
                  showHideCategoryFields();
                  
               </script>
               
               <br><br>
               <fieldset>
                  <label class="redHeaderAS" for="location" width=3px>@Messages("Lokacija")</label>

                 

                  <select name="availabilityS" id="availabilityS" style="height:33px; width:200px; font-size:24px;">
                     <option selected="selected">Sarajevo</option>
									      			<option>Mostar</option>
									    			<option>Zenica</option>
									    			<option>Tuzla</option>
									     			<option>Stolac</option>
									     			<option>Bihać</option>
											    	<option>Banja Luka</option>
									   				<option>Bijeljina</option>
									    			<option>Trebinje</option>
									    			<option>Livno</option>

                  </select>
               </fieldset>
               
               <br>
               <h1 class="redHeaderAS">@Messages("Opis")</h1>
               <input type="text" value="" id="desc" name="desc" style="height:25px; width:95%; font-size:18px;" />	
               <input class="btn btn-primary btn-fontNovi" style="margin-left: 1%; margin-top: 15px; background-color:#85B80C; border-color:#283B5E;" type="submit" value="Traži" />
	         </form>
            </div>
            
             <div class="filter col-xs-2 pull-left" style="padding: 15px; border: 3px solid #E1E4E1; background-color: #FCFCFC; margin: 0px 5px; display:inline;float:right; -webkit-border-radius: 6px;">
         <form action="@routes.ProductController.filterCondition(Product.getIds(productList),Product.getIds(sproducts))" method="POST">
         <fieldset>
                  <label class="redHeaderAS" for="location" width=3px style="padding-bottom:3px;">Stanje</label>
                   <select name="condition" id="condition" style="height:15px; width:112px; font-size:24px;">
                     <option selected="selected">Svi proizvodi</option>
                     								<option>Novo</option>
									      			<option>Korišteno</option>
									      			</select>
									      			</fieldset>
         <input class="btn btn-primary btn-fontNovi" style="margin-left: 1%; margin-top: 15px; background-color:#85B80C; border-color:#283B5E; display:inline;" type="submit" value="Traži" />
         </form>
         </div>
    <div class="clear"></div>
         <div class="clear"></div>

     <div class="main">
    	<div class="content">
    		
				<h1 class="redHeader">@Messages("RezultatiPretrage"):</h1><br>  
				<div class="section group">
					@if((sproducts.isEmpty())&&(productList.isEmpty())&&(userList.isEmpty())){
						<h2 class="redHeader2"><font size="3" style:italic color="black">@Messages("NemaRezultata")</font></h2>
      
					}else{
					
					<div class="section group">
            @if(!sproducts.isEmpty()) {
            <div class="content_top">
               <div class="heading">
                  <h3 class="redHeader">@Messages("IzdvojeniArtikli")  @sproducts.size()</h3>
               </div>
               <div class="see">
                  <p><a href="#">@Messages("Pogledaj")</a></p>
               </div>
               <div class="clear"></div>
            </div>
            <div class="section group">
               @for(sproduct <- sproducts) {						
               <div class="grid_1_of_4 images_1_of_4" >
                  <a href="/showProduct/@sproduct.id"><img src="@routes.Assets.at(sproduct.productImagePath)" alt="" class="productImg"/></a>
                  <div class="price-details">
                     <div class="price-number">
                        <p><span class="rupees">@sproduct.price KM</span></p>
                     </div>
                     <div class="add-cart">
                        <h4><a href="/showProduct/@sproduct.id">@Messages("Pogledaj")</a></h4>
                     </div>
                     <div class="clear"></div>
                  </div>
               </div>
               </div>
               }
            }
            </div>
             <div class="clear"></div>
             	<br></br>	
						@if(!productList.isEmpty()){

							<h3 class="redHeader2"><font size="3" style:italic color="black">@Messages("OstaliArtikli") @productList.size()</font></h3>

							@for(product <- productList){
							<div class="grid_1_of_4 images_1_of_4">
								<a class="productImg" href="/showProduct/@product.id"><img src="@routes.Assets.at(product.productImagePath)" alt="" /></a>
								<h4 id="oneLineText">@product.name </h4>
								<div class="price-details">
									<div class="price-number2">
										<span class="price-number2">@product.getPriceString() KM</span>
									</div>
									<div class="add-cart2">								
										<h5><a href="/showProduct/@product.id">@Messages("Pogledaj")</a></h5>
							     	</div>
							 		<div class="clear"></div>
								</div>					 
							</div>
						}
						</div>
						}else{
						<h3 class="redHeader2"><font size="3" style:italic color="black">@Messages("NemaRezultata")</font></h3>
							}	
	<br></br>		
 <div class="clear"></div>
			<div class="section group">
				@if(userList.size()>0){

					<h3 class="redHeader2"><font size="3" style:italic color="black">@Messages("Korisnici"): (@userList.size()):</font></h3>

		  				<div class="validateAndLogout">
							@flash.get("delete_user_success")
								</div>
									<div class="listOfUsers">										
										<div class="categories1">
				  							<ul>
				  							
												@for(user <- userList) {
				     								<li><a href="/korisnik/@user.id">@user.username</a></li>
				     								}			     
											</ul>
										</div>					  	    
										}else{
											<h4 class="redHeader2"><font size="3" style:italic color="black">@Messages("NemaRezultata")</font></h4>
											}
									</div>
		</div>
		</div>
	</div>
	</div>
	
	
}	
}