@(usernameSes: String)(adminList: List[String])(mainCategoryList: List[MainCategory])

@import helper._

@main("editMainCategory") {

    
    <div class="wrap">
	<div class="header">
		<div class="headertop_desc">
			<div class="logo">
				<a href="/"><img src="@routes.Assets.at("images/pik.ba.jpg")" width="75" heigth="75" alt=""></a>
			</div>
			<div class="account_desc">
				<ul>
					@if(usernameSes.equals("")) {
					<li><a href="/registration">Registracija</a></li>
					<li><a href="/login">Login</a></li>
					}
					@if(!usernameSes.isEmpty){
						<li><a href="/addProduct">Objavite oglas</a></li>
						<li><a href="/profile">Korisnik @usernameSes</a></li>
						<li><a href="/logout">Logout</a></li>
					}
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="header_top">
			
			<div class="cart">
					
			  	   	
			  </div>
			  <script type="text/javascript">
		</script>
	 <div class="clear"></div>
  </div>
	<div class="header_bottom">
	     	<div class="menu">
	     		<ul>
			    	<li class="active"><a href="/">Početna</a></li>
			    	<li><a href="#">Radnje</a></li>
			    	<li><a href="#">Nekretnine</a></li>
			    	<li><a href="#">Hitno</a></li>
			    	<li><a href="#">Servisi i usluge</a></li>
			    	@if(adminList.contains(usernameSes)){
			    		<li><a href="/korisnici">Korisnici</a></li>
			    		<li><a href="/editMainCategory">Kategorije</a></li>
			    		}
			    	<div class="clear"></div>
     			</ul>
	     	</div>
	     	<div class="search_box">
	     		<form>
	     			<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
	     		</form>
	     	</div>
	     	<div class="clear"></div>
	     </div>	     
	<div class="header_slide">
			<div class="header_bottom_left">				
								
	  	     </div>
	
	
	<!-- SANELA KATEGORIJA -->				 
<div class="leftBoxCategory">
<div class="categories">
				  <ul>
				  	<h3>Kategorije</h3>
				  		
				  		@if(mainCategoryList.size() > 0 ) {
				  			@for(mainCategory <- mainCategoryList) {
				  				<li><a href="kategorija/@mainCategory.id">@mainCategory.name  
				  				
				  				
				  			<div class="buttonPosition">	
				  				 @form(routes.CategoryController.deleteMainCategory(mainCategory.id)) {
                   					 <input type="submit" value="Delete"  onclick="return confirm('Da li si siguran-na da zelis izbrisati ovu kategoriju?');">
                				}
                			</div>
                			
                			<div class="buttonPosition">  				
				  				 @form(routes.CategoryController.editMainCategory(mainCategory.id)) {
                   					 <input type="submit" value="Edit">
                				}
                			</div>
                
				  				</a></li>
				  			}
				  		}
				  		
				  </ul>
				</div>	

</div>

<!-- Pocetak sanelinog dijela-->


 
			
    </div>
 </div>
</div>


<!-- FOOTER -->

   <div class="footer">
   	  <div class="wrap">	
	     <div class="section group">
				<div class="col_1_of_4 span_1_of_4">
						<h4>Informacije</h4>
						<ul>
						<li><a href="about.html">O nama</a></li>
						<li><a href="contact.html">Kontakt podaci</a></li>
						<li><a href="#">Prijavi gresku</a></li>
						</ul>
					</div>
				<div class="col_1_of_4 span_1_of_4">
					<h4>Ostali linkovi</h4>
						<ul>
						<li><a href="about.html">Blog bitPik.ba</a></li>
						<li><a href="contact.html">Pik na facebooku</a></li>
						</ul>
				</div>
				
				<div class="col_1_of_4 span_1_of_4">
					<h4>Kontak telefon</h4>
						<ul>
							<li><span>+387-33-000000</span></li>
							<li><span>+387-33-000001</span></li>
						</ul>
						<div class="social-icons">
							<h4>Pratite nas</h4>
					   		  <ul>
							      <li><a href="#" target="_blank"><img src="@routes.Assets.at("images/facebook.png")" alt="" /></a></li>
							      <li><a href="#" target="_blank"><img src="@routes.Assets.at("images/twitter.png")" alt="" /></a></li>
							      <li><a href="#" target="_blank"><img src="@routes.Assets.at("images/skype.png")" alt="" /> </a></li>
							      <li><a href="#" target="_blank"><img src="@routes.Assets.at("images/dribbble.png")" alt="" /></a></li>
							      <li><a href="#" target="_blank"><img src="@routes.Assets.at("images/linkedin.png")" alt="" /></a></li>
							      <div class="clear"></div>
						     </ul>
   	 					</div>
				</div>
			</div>			
        </div>
        
    </div>
    <script type="text/javascript">
		$(document).ready(function() {			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
   
}
