@(sproducts: List[Product])(productList: List[Product])(userList: List[User])

@main("Proizvodi", "Korisnici") {
<div class="wrap">
	<div class="main">
		<div class="content">

			<!-- Početak naprednog Search Box-a -->
            <div class="filter col-xs-2" style="padding: 15px; border: 3px solid #C8C8C8; background-color: #FFF3CF; margin: 0px 20px;">
              <form action="@routes.ProductController.filteredSearch(Product.getIds(productList),Product.getIds(sproducts))" method="POST">
            <h1 class="redHeaderAS">Raspon cijene (od-do)</h1>
               <input type="number" min="1" max="9999999" step="any" value="" id="od" style="height:25px; width: 40%; font-size:18px;" name="priceMin"/>
               <input type="number" min="1" max="9999999" step="any" value="" id="do" style="height:25px; width: 40%; font-size:18px;" name="priceMax"/>
               					
               <!-- This is css for Kategorija and availability dropdown meni -->
               <style>
                  fieldset {
                  border: 0;
                  font-style: bold;
                  }
                  label {
                  display: block;
                  margin: 0 0 0 0;
                  }
                  select {
                  width: 16%;
                  height: 40px;
                  font-weight: bold;
                  color: #464646;
                  font-size: 1em;
                  font-family: Arial, Helvetica, sans-serif;
                  padding: 6px;
                  margin: 3px;
                  }
                  .overflow {
                  height: 400px;
                  }
               </style>
                              
               <script language="JavaScript">
                  var e = document.getElementById("categoryString");
                  function showHideCategoryFields() {
                  	var selected = e.value;
                  
                  	var hiddenDivs = document.querySelectorAll('.fieldsetToHide');
                  
                  	for (var i = 0; i < hiddenDivs.length; i++) {
                  		hiddenDivs[i].style.display = 'none';
                  	}
                  
                  	var actives = document.querySelectorAll("#subCategoryString");
                  
                  	for (var i = 0; i < actives.length; i++) {
                  		actives[i].id = "inactive";
                  		actives[i].name = "inactive";
                  	}
                                   
                  	var shown = document.getElementById(selected);
                  	shown.style.display = 'block';
                  	
                  	var children = shown.childNodes;
                  	var node = children[1];
                  	var children2 = node.childNodes;
                  	var selectNode = children2[3];
                  	
                  	selectNode.id = "subCategoryString";
                  	selectNode.name = "subCategoryString";
                  	                 	
                  };
                  
                  e.onchange = showHideCategoryFields;
                  
                  showHideCategoryFields();
                  
               </script>

               
               <br><br>
               <fieldset>
                
               <div class="dostupnost" style="margin:-45px 400px;">
               <fieldset style="width:600px;">
                  <label class="redHeader" for="availability" width=3px>Dostupnost</label>
                  <select name="availabilityS" id="availabilityS">
                     <option selected="selected">Sarajevo</option>
									      			<option>Mostar</option>
									    			<option>Zenica</option>
									    			<option>Tuzla</option>
									     			<option>Stolac</option>
									     			<option>Bihać</option>
											    	<option>Banja Luka</option>
									   				<option>Bijeljina</option>
									    			<option>Trebinjei</option>
									    			<option>Livno</option>

                  </select>
               </fieldset>
               
               <br>
               <h1 class="redHeaderAS">Opis</h1>
               <input type="text" value="" id="desc" name="desc" style="height:25px; width:95%; font-size:18px;" />	
               <input class="btn btn-primary btn-fontNovi" style="margin-left: 1%; margin-top: 15px;" type="submit" value="Traži" />
	         </form>
            </div>
            </div>
			<div class="clear"></div>
			<!-- Kraj naprednog Search Box-a -->
   
    <br><br>		
	<h1 class="redHeader">Rezultati pretrage:</h1><br>  
		<div class="section group">
			@if((sproducts.isEmpty())&&(productList.isEmpty())&&(userList.isEmpty())){
				<div class="section group">
					<h2 class="redHeader2"><font size="3" style:italic color="black">Nema rezultata za vasu pretragu</font></h2>	
					}else{

					
					<div class="section group">
            @if(!sproducts.isEmpty()) {
            <div class="content_top">
               <div class="heading">
                  <h3 class="redHeader">Izdvojeni artikli (@sproducts.size()):</h3>
               </div>
               <div class="see">
                  <p><a href="#">Pogledaj</a></p>
               </div>
               <div class="clear"></div>
            </div>
            <div class="section group">
               @for(sproduct <- sproducts) {						
               <div class="grid_1_of_4 images_1_of_4" >
                  <a href="/showProduct/@sproduct.id"><img src="@routes.Assets.at(sproduct.productImagePath)" alt="" class="productImg"/></a>
                  <div class="price-details">
                     <div class="price-number">
                        <p><span class="rupees">@sproduct.price KM</span></p>
                     </div>
                     <div class="add-cart">
                        <h4><a href="/showProduct/@sproduct.id">Pogledaj</a></h4>
                     </div>
                     <div class="clear"></div>   
                  </div>
               </div>
               </div>
               }
            }
            </div>
						<div class="section group">
            				@if(!sproducts.isEmpty()) {
            					<div class="content_top">
					               <div class="heading">
					                  <h3 class="redHeader">Izdvojeni artikli (@sproducts.size()):</h3>
					               </div>
					               <div class="see">
					                  <p><a href="#">Pogledaj</a></p>
					               </div>
					               <div class="clear"></div>
					            </div>
				            <div class="section group">
				               @for(sproduct <- sproducts) {						
				               <div class="grid_1_of_4 images_1_of_4" >
				                  <a href="/showProduct/@sproduct.id"><img src="@routes.Assets.at(sproduct.productImagePath)" alt="" class="productImg"/></a>
				                  <div class="price-details">
				                     <div class="price-number">
				                        <p><span class="rupees">@sproduct.price KM</span></p>
				                     </div>
				                     <div class="add-cart">
				                        <h4><a href="/showProduct/@sproduct.id">Pogledaj</a></h4>
				                     </div>
				                     <div class="clear"></div>
				                  </div>
				               </div>
				             </div>
               				}
            				}
            			</div>

						@if(!productList.isEmpty()){
							<h3 class="redHeader2"><font size="3" style:italic color="black">Ostali artikli (@productList.size()):</font></h3>
							@for(product <- productList){
							<div class="grid_1_of_4 images_1_of_4">
								<a class="productImg" href="/showProduct/@product.id"><img src="@routes.Assets.at(product.productImagePath)" alt="" /></a>
								<h4 id="oneLineText">@product.name </h4>
								<div class="price-details">
									<div class="price-number2">
										<span class="price-number2">@product.getPriceString() KM</span>
									</div>
									<div class="add-cart">								
										<h4><a href="/showProduct/@product.id">Pogledaj</a></h4>
							     	</div>
							 		<div class="clear"></div>
								</div>					 
							</div>
							
					
						}
						</div>
						}else{
						<h3 class="redHeader2"><font size="3" style:italic color="black">Nema rezultata za pretragu proizvoda</font></h3>
							}	
			</div>
		</div>
	</div>
</div>
							
<div class="wrap">
	<div class="main">
		<div class="content">
			<div class="section group">
				@if(userList.size()>0){
					<h3 class="redHeader2"><font size="3" style:italic color="black">Korisnici (@userList.size()):</font></h3>
		  			<div class="validateAndLogout">
						@flash.get("delete_user_success")
					</div>
					<div class="listOfUsers">										
						<div class="categories1">
				  			<ul>			
								@for(user <- userList) {
				     				<li><a href="/korisnik/@user.id">@user.username</a></li>
				     			}			     
							</ul>
						</div>					  	    
								}else{
									<h4 class="redHeader2">
										<font size="3" style:italic color="black">Nema rezultata za pretragu korisnika</font>
									</h4>
									}
					</div>
			</div>
		</div>
	</div>
</div>
	}	
	}
