@(usernameMessage: String)(passwordMessage: String)

@import helper._

@main("Login", "") {
	
<div class="wrap">
	<div class="validateAndLogout">
		@flash.get("login_null_field")
	</div>

	<div class="main">
		<div class="content">
			<div class="section group">
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	<h1 class="redHeader">LOGIN</h1><br>
				  	
	<!--
		NAŠ HELPER
		-->
		
			@helper.form(routes.UserController.findUser(),'id->"nameForm") {
					<h5 id="editProfileText">Ime:</h5>
					<input type="text" value="" id="username" name="username" required/>
					<h6>@usernameMessage</h6>
					@if(!usernameMessage.equals("")) {
						<br>
					}
					<h5 id="editProfileText">Password:</h5>
					<input type="password" value="" id="password" name="password" required/>
					<h6>@passwordMessage</h6>
					<br>
					<input class="buttonRed" type="submit" value="Login" />					
			}		
				  </div>
  				</div>		
			</div> 
		</div>
	</div>
</div>	
}
