@(sproducts: List[Product])(products: List[Product])(mainCategoryList: List[MainCategory])
@main("Napredna Pretraga", "Nap. Pretraga") {
<link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/slider.css")">
<div class="wrap">
   <div class="header">
      <div class="validateAndLogout">
         @flash.get("validate")
         @flash.get("logout")    
         @flash.get("login_success ")
      </div>
      <div >
         <form action="@routes.ProductController.filteredSearch(Product.getIds(products),Product.getIds(sproducts))" method="POST">
            <h1 class="redHeader">Cijena od-do</h1>
            <div style="margin-top:10px;">
               <input type="number" min="1" max="9999999" step="any" value="" id="od" name="priceMin"/> 
               <input type="number" min="1" max="9999999" step="any" value="" id="do" name="priceMax"/>
               <h1 class="redHeader">Opis</h1>
               <input type="text" value="" id="desc" name="desc"/>						
               <!-- This is css for Kategorija and availability dropdown meni -->
               <style>
                  fieldset {
                  border: 0;
                  font-style: bold;
                  }
                  label {
                  display: block;
                  margin: 0 0 0 0;
                  }
                  select {
                  width: 16%;
                  height: 40px;
                  font-weight: bold;
                  color: #464646;
                  font-size: 1em;
                  font-family: Arial, Helvetica, sans-serif;
                  padding: 8px;
                  margin: 5px;
                  }
                  .overflow {
                  height: 400px;
                  }
               </style>
               <script language="JavaScript">
                  var e = document.getElementById("categoryString");
                  function showHideCategoryFields() {
                  	var selected = e.value;
                  
                  	var hiddenDivs = document.querySelectorAll('.fieldsetToHide');
                  
                  	for (var i = 0; i < hiddenDivs.length; i++) {
                  		hiddenDivs[i].style.display = 'none';
                  	}
                  
                  	var actives = document.querySelectorAll("#subCategoryString");
                  
                  	for (var i = 0; i < actives.length; i++) {
                  		actives[i].id = "inactive";
                  		actives[i].name = "inactive";
                  	}
                  
                  
                  	var shown = document.getElementById(selected);
                  	shown.style.display = 'block';
                  	
                  	var children = shown.childNodes;
                  	var node = children[1];
                  	var children2 = node.childNodes;
                  	var selectNode = children2[3];
                  	
                  	selectNode.id = "subCategoryString";
                  	selectNode.name = "subCategoryString";
                  	
                  	
                  	
                  };
                  
                  e.onchange = showHideCategoryFields;
                  
                  showHideCategoryFields();
                  
               </script>
               <fieldset>
                  <label class="redHeader" for="availability" width=3px>Dostupnost</label>
                  <select name="availabilityS" id="availabilityS">
                     <option selected="selected">Svugdje</option>
                     <option>Unutar BiH</option>
                     <option>Sarajevo</option>
                     <option>Unsko sanski</option>
                     <option>Posavski</option>
                     <option>Tuzlanski</option>
                     <option>Zenicko-dobojski</option>
                     <option>Bosansko-Podrinjski</option>
                     <option>Srednjo-bosanski</option>
                     <option>Zapadno-hercegovacki</option>
                     <option>Livanjski</option>
                     <option>Hercegovacko-neretvanski</option>
                     <option>Distrikt Brcko</option>
                     <option>Banjalucka</option>
                     <option>Dobojsko-bijeljinska</option>
                     <option>Sarajevsko-zvornicka</option>
                     <option>Focansko-trebinjska</option>
                  </select>
               </fieldset>
               <input class="button" type="submit" value="Traži" />	
            </div>
         </form>
      </div>
      <div class="header_slide">
         <div class="header_bottom_left">
            <div class="categories">
               <ul>
                  <h3>Kategorije</h3>
                  @if(mainCategoryList.size() > 0 ) {
                  @for(mainCategory <- mainCategoryList) {
                  <li><a href="kategorija/@mainCategory.id">@mainCategory.name</a></li>
                  }
                  }
               </ul>
            </div>
         </div>
         <div class="clear"></div>
      </div>
   </div>
   <div class="clear"></div>
   <div class="main">
      <div class="content">
         <div class="clear"></div>
         <div class="section group">
            @if(!sproducts.isEmpty()) {
            <div class="content_top">
               <div class="heading">
                  <h3>Izdvojeni Artikli</h3>
               </div>
               <div class="see">
                  <p><a href="#">Pogledaj</a></p>
               </div>
               <div class="clear"></div>
            </div>
            <div class="section group">
               @for(sproduct <- sproducts) {						
               <div class="grid_1_of_4 images_1_of_4" >
                  <a href="/showProduct/@sproduct.id"><img src="@routes.Assets.at(sproduct.productImagePath)" alt="" class="productImg"/></a>
                  <div class="price-details">
                     <div class="price-number">
                        <p><span class="rupees">@sproduct.price KM</span></p>
                     </div>
                     <div class="add-cart">
                        <h4><a href="/showProduct/@sproduct.id">Pogledaj</a></h4>
                     </div>
                     <div class="clear"></div>
                  </div>
               </div>
               }
            </div>
            }
            <!-- Ovo je jedan red od cetiri boxa proizvoda - kraj -->
            <!-- Ovo je jedan red od cetiri boxa proizvoda - pocetak -->
            <div class="content_top">
               <div class="heading">
                  <h3>Artikli</h3>
               </div>
               <div class="see">
                  <p><a href="#">Pogledaj</a></p>
               </div>
               <div class="clear"></div>
            </div>
            <div class="section group">
               @if(!products.isEmpty()) {
               @for(product <- products) {						
               <div class="grid_1_of_4 images_1_of_4">
                  <a class="productImg" href="/showProduct/@product.id"><img src="@routes.Assets.at(product.productImagePath)" alt="" /></a>
                  <h2>@product.name </h2>
                  <div class="price-details">
                     <div class="price-number">
                        <p><span class="rupees">@product.price KM</span></p>
                     </div>
                     <div class="add-cart">
                        <h4><a href="/showProduct/@product.id">Pogledaj</a></h4>
                     </div>
                     <div class="clear"></div>
                  </div>
               </div>
               }
               }
            </div>
            <!-- Ovo je jedan red od cetiri boxa proizvoda - kraj -->
         </div>
      </div>
   </div>
</div>
}