@(usernameSes: String)(others: List[Product])

@main("BitPik") {

    
    <div class="wrap">
	<div class="header">
		<div class="headertop_desc">
			<div class="logo">
				<a href="/"><img src="@routes.Assets.at("images/pik.ba.jpg")" width="75" heigth="75" alt=""></a>
			</div>
			<div class="account_desc">
				<ul>
					@if(usernameSes.equals("")) {
					<li><a href="/registration">Registracija</a></li>
					<li><a href="/login">Login</a></li>
					}
					@if(!usernameSes.isEmpty){
						<li><a href="/addProduct">Objavite oglas</a></li>
						<li><a href="/profile">Korisnik @usernameSes</a></li>
						<li><a href="/logout">Logout</a></li>
					}
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="header_top">
			
			<div class="cart">
					
			  	   	
			  </div>
			  <script type="text/javascript">

		</script>
	 <div class="clear"></div>
  </div>
	<div class="header_bottom">
	     	<div class="menu">
	     		<ul>
			    	<li class="active"><a href="/">Početna</a></li>
			    	<li><a href="#">Radnje</a></li>
			    	<li><a href="#">Nekretnine</a></li>
			    	<li><a href="#">Hitno</a></li>
			    	<li><a href="#">Servisi i usluge</a></li>
			    	<div class="clear"></div>
     			</ul>
	     	</div>
	     	<div class="search_box">
	     		<form>
	     			<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
	     		</form>
	     	</div>
	     	<div class="clear"></div>
	     </div>	     
	<div class="header_slide">
			<div class="header_bottom_left">				
				<div class="categories">
				  <ul>
				  	<h3>Kategorije</h3>
				      <li><a href="/">Početna</a></li>
				      <li><a href="/vozila">Vozila</a></li>
				      <li><a href="/nekretnine">Nekretnine</a></li>
				      <li><a href="/mobilni">Mobilni uređaji</a></li>
				      <li><a href="/kompjuteri">Kompjuteri</a></li>
				      <li><a href="/tehnika">Tehnika</a></li>
				      <li><a href="/nakit">Nakit i satovi</a></li>
				      <li><a href="/mojdom">Moj dom</a></li>
				      <li><a href="/biznis">Biznis i industrija</a></li>
				      <li><a href="/zivotinje">Životinje</a></li>
				      <li><a href="/odjecaobuca">Odjeća i obuća</a></li>
				      <li><a href="/ostalo">Ostale kategorije</a></li>
				  </ul>
				</div>					
	  	     </div>
					


<!-- Pocetak sanelinog dijela-->


 <div class="main">

    <div class="content">
    	

		    		
    		<div class="clear"></div>
    	





    	<!-- Ovo je jedan red od cetiri boxa proizvoda - pocetak -->
	      <div class="section group">
	      
	      
	  @if(others != null){
		@for(other <- others){
			
				<div class="grid_1_of_4 images_1_of_4">
					 <a href="preview.html"><img src="@routes.Assets.at("images/no-img.jpg")" alt="" /></a>
					 <h2>@other.name </h2>
					<div class="price-details">
				       <div class="price-number">
							<p><span class="rupees">@other.price KM</span></p>
					    </div>
					       		<div class="add-cart">								
									<h4><a href="/showProduct/@other.id">Pogledaj</a></h4>
							     </div>
							 <div class="clear"></div>
					</div>
					 
				</div>
				
				}
		}
				
				

			</div>

		<!-- Ovo je jedan red od cetiri boxa proizvoda - kraj -->

		

			
    </div>
 </div>
</div>


<!-- FOOTER -->

   <div class="footer">
   	  <div class="wrap">	
	     <div class="section group">
				<div class="col_1_of_4 span_1_of_4">
						<h4>Informacije</h4>
						<ul>
						<li><a href="about.html">O nama</a></li>
						<li><a href="contact.html">Kontakt podaci</a></li>
						<li><a href="#">Prijavi gresku</a></li>
						</ul>
					</div>
				<div class="col_1_of_4 span_1_of_4">
					<h4>Ostali linkovi</h4>
						<ul>
						<li><a href="about.html">Blog bitPik.ba</a></li>
						<li><a href="contact.html">Pik na facebooku</a></li>
						</ul>
				</div>
				
				<div class="col_1_of_4 span_1_of_4">
					<h4>Kontak telefon</h4>
						<ul>
							<li><span>+387-33-000000</span></li>
							<li><span>+387-33-000001</span></li>
						</ul>
						<div class="social-icons">
							<h4>Pratite nas</h4>
					   		  <ul>
							      <li><a href="#" target="_blank"><img src="@routes.Assets.at("images/facebook.png")" alt="" /></a></li>
							      <li><a href="#" target="_blank"><img src="@routes.Assets.at("images/twitter.png")" alt="" /></a></li>
							      <li><a href="#" target="_blank"><img src="@routes.Assets.at("images/skype.png")" alt="" /> </a></li>
							      <li><a href="#" target="_blank"> <img src="@routes.Assets.at("images/dribbble.png")" alt="" /></a></li>
							      <li><a href="#" target="_blank"> <img src="@routes.Assets.at("images/linkedin.png")" alt="" /></a></li>
							      <div class="clear"></div>
						     </ul>
   	 					</div>
				</div>
			</div>			
        </div>
        <div class="copy_right">
				<p>Company Name © All rights Reseverd | Design by  <a href="http://w3layouts.com">W3Layouts</a> </p>
		   </div>
    </div>
    <script type="text/javascript">
		$(document).ready(function() {			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
   
}
