@(user: User)(stores: List[User])

@main("BitPik", "pikRadnje") {
	
	<link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/style.css")">

<div class="wrap">
<div class="header">
<div class="validateAndLogout">
		@flash.get("validate")
		@flash.get("logout")    
		@flash.get("login_success ")
	</div>
	</div>
	<body style="background-color:#FAF7F5;">

		<h3 style="font-size:20px; padding:5px; margin-left:160px;">@Messages("PikRadnjeuKategorijama")</h3>
		<div class="container" style="background-color: #FFF;">

				  		<div style="padding:5px;overflow:hidden;width:62%;float:left;">
				  		
				  		     <ul class="radnje">
				  				<li style="display: block;float: left; margin: 5px; width: 143px;padding: 5px;  border: 1px solid #e2e2e2;border-left: 4px solid #e2e2e2;"><a href="/storesByCategory/1" style="color:black;">@Messages("Vozila")</a></li>
				  				<li style="display: block;float: left; margin: 5px; width: 143px;padding: 5px;  border: 1px solid #e2e2e2;border-left: 4px solid #e2e2e2;"><a href="/storesByCategory/2" style="color:black;">@Messages("OdjecaiObuca")</a></li>
				  				<li style="display: block;float: left; margin: 5px; width: 143px;padding: 5px;  border: 1px solid #e2e2e2;border-left: 4px solid #e2e2e2;"><a href="/storesByCategory/3" style="color:black;">@Messages("Kompjuteri")</a></li>
				  				<li style="display: block;float: left; margin: 5px; width: 143px;padding: 5px;  border: 1px solid #e2e2e2;border-left: 4px solid #e2e2e2;"><a href="/storesByCategory/4" style="color:black;">@Messages("BiznisIndustrija")</a></li>
				  				<li style="display: block;float: left; margin: 5px; width: 143px;padding: 5px;  border: 1px solid #e2e2e2;border-left: 4px solid #e2e2e2;"><a href="/storesByCategory/5" style="color:black;">@Messages("MobilniUredjaji")</a></li>
				  				<li style="display: block;float: left; margin: 5px; width: 143px;padding: 5px;  border: 1px solid #e2e2e2;border-left: 4px solid #e2e2e2;"><a href="/storesByCategory/6" style="color:black;">@Messages("MojDom")</a></li>
				  				<li style="display: block;float: left; margin: 5px; width: 143px;padding: 5px;  border: 1px solid #e2e2e2;border-left: 4px solid #e2e2e2;"><a href="/storesByCategory/7" style="color:black;">@Messages("Nekretnine")</a></li>
				  				<li style="display: block;float: left; margin: 5px; width: 143px;padding: 5px;  border: 1px solid #e2e2e2;border-left: 4px solid #e2e2e2;"><a href="/storesByCategory/8" style="color:black;">@Messages("Literatura")</a></li>
				  				<li style="display: block;float: left; margin: 5px; width: 143px;padding: 5px;  border: 1px solid #e2e2e2;border-left: 4px solid #e2e2e2;"><a href="/storesByCategory/9" style="color:black;">@Messages("Tehnika")</a></li>
				  				<li style="display: block;float: left; margin: 5px; width: 143px;padding: 5px;  border: 1px solid #e2e2e2;border-left: 4px solid #e2e2e2;"><a href="/storesByCategory/10" style="color:black;">@Messages("SportskaOprema")</a></li>
				  				<li style="display: block;float: left; margin: 5px; width: 143px;padding: 5px;  border: 1px solid #e2e2e2;border-left: 4px solid #e2e2e2;"><a href="/storesByCategory/11" style="color:black;">@Messages("NakitSatovi")</a></li>
				  				<li style="display: block;float: left; margin: 5px; width: 143px;padding: 5px;  border: 1px solid #e2e2e2;border-left: 4px solid #e2e2e2;"><a href="/storesByCategory/12" style="color:black;">@Messages("Kolekcionarstvo")</a></li>
				  				<li style="display: block;float: left; margin: 5px; width: 143px;padding: 5px;  border: 1px solid #e2e2e2;border-left: 4px solid #e2e2e2;"><a href="/storesByCategory/13" style="color:black;">@Messages("Zivotinje")</a></li>
				  				<li style="display: block;float: left; margin: 5px; width: 143px;padding: 5px;  border: 1px solid #e2e2e2;border-left: 4px solid #e2e2e2;"><a href="/storesByCategory/14" style="color:black;">@Messages("VideoIgre")</a></li>
				  				<li style="display: block;float: left; margin: 5px; width: 143px;padding: 5px;  border: 1px solid #e2e2e2;border-left: 4px solid #e2e2e2;"><a href="/storesByCategory/15" style="color:black;">@Messages("Ostalo")</a></li>
				  				<li style="display: block;float: left; margin: 5px; width: 143px;padding: 5px;  border: 1px solid #e2e2e2;border-left: 4px solid #e2e2e2;"><a href="@routes.UserController.allPikStores()" style="color:black;">@Messages("SveKategorije")</a></li>
				  				</ul>
				  			
				  			
				  			</div>

				  			<div style="width:32%;float:left;padding:10px 10px 10px 15px;">
				  			<h2 style="font-size:23px; padding-bottom:7px;">@Messages("PikRadnja")</h2>

				  			<p>
							@Messages("KomercijalniProfil")
							@Messages("KoristenjeBesplatno") </p>
							<br>

							@if((user==null)||(!user.isPikStore)){
				  			<div class="btn btn-primary btn-fontNovi" style="background-color:#9DAB50; padding-top:3px; border-color:#9DAB50;"><span><a href="/registrationPikStore" style="color:white;">@Messages("RegistrujSe")</a></span></div>
				  			}else{
				  			<div class="btn btn-primary btn-fontNovi" style="background-color:#9DAB50; padding-top:3px; border-color:#9DAB50;"><span><a href="/registrationPikStore" style="color:white;">KUPI PAKET</a></span></div>
				  			}

				  			</div>
				  			</div>
				  			<br></br>

				  			<h3 style="font-size:20px; padding:5px;margin-left:160px;"><span class="badge">@stores.size()</span> @Messages("AktivneRadnje")</h3>
				  			<div class="container" style="padding-bottom:20px; background-color: #FFF; height:900px;">
				  			<div style="background-color: #FFF; position:relative; box-shadow:0px 3px 3px 1px rgba(0,0,0,0.1); border:1px solid #ccc; border-color: #e4e4e4; width:100%; box-sizinf:border-box; left:auto; right:auto; margin:0 0 20px 0; float:left;">

				  		<div class="section group">	      	      
	      				@for(store <- stores) {						
							<div class="grid_1_of_4 images_1_of_4" >
					 			<a href="/korisnik/@store.id"><img src="@routes.Assets.at(store.imagePath)" alt="" /></a>
					 			<h2>@store.username </h2>
												 
							</div>	
						}
							</div>			
						
					
				
			</div>	
		</div>
	</body>
</div
}