@(usernameSes: String)(products: List[Product])(u: User)(adminList: List[String])
@import helper._


@main("Profile") {
		
		<div class="wrap">
	<div class="header">
		<div class="headertop_desc">
			<div class="logo">
				<a href="/"><img src="@routes.Assets.at("images/pik.ba.jpg")" width="75" heigth="75" alt=""></a>
			</div>
			<div class="account_desc">
				<ul>
					@if(usernameSes.equals("")) {
					<li><a href="/registration">Registracija</a></li>
					<li><a href="/login">Login</a></li>
					}
					@if(!usernameSes.isEmpty){
						<li><a href="/addProduct">Objavite oglas</a></li>
						<li><a href="/profile">Korisnik @usernameSes</a></li>
						<li><a href="/logout">Logout</a></li>
					}
				</div>
			<div class="clear"></div>
		</div>
		<div class="header_top">
			
			  <div class="cart">
			  </div>
			  <script type="text/javascript">
			function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;
					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});	
				}
			}
			$(function() {
				var dd = new DropDown( $('#dd') );
				$(document).click(function() {
					// all dropdowns
					$('.wrapper-dropdown-2').removeClass('active');
				});
			});
		</script>
	 <div class="clear"></div>
  </div>
	<div class="header_bottom">
	     	<div class="menu">
	     		<ul>
			    	<li class="active"><a href="/">Početna</a></li>
			    	<li><a href="#">Moja prodaja</a></li>
			    	<li><a href="#">Kupljeni proizvidi</a></li>
			    	<li><a href="#">Poruke</a></li>
			    	<li><a href="/profile">Moj profil: @usernameSes</a></li>
			    	@if(adminList.contains(usernameSes)){
			    		<li><a href="/korisnici">Korisnici</a></li>
			    		<li><a href="/listaKategorija">Kategorije</a></li>
			    		}
			    	<div class="clear"></div>
     			</ul>
	     	</div>
	     	
	     	<div class="clear"></div>
	     </div>	
 <div class="main">
    <div class="content">
    	<div class="section group">
				
				
		<h2><em>Username </em></h2><br>
		
			<p>@u.username</p><br>
			
		<h2><em>Email: </em></h2><br>
		
			<p>@u.email</p><br>
			
		<h2><em>Password </em></h2><br>
		
			<p>@u.password</p><br>
		
		<h2><em>Admin </em></h2><br>
		
			@if(u.isAdmin.equals("true")){
				<p>Da</p><br>
			}else{
				<p>Ne</p><br>				
			}
		<h2><em>Datum registracije </em></h2><br>
		
			<p>@u.createdDate</p><br>	
	
			
					<div class="leftBox">
						<div><a class="profilePicture" ><img src="@routes.Assets.at("images/profileimg.png")" alt="" /></a></div>
										
				<div class="categories">
				  <ul>
				      <li><a href="#">Moj pik</a></li>
				      <li><a href="#">Poruke</a></li>
				      <li><a href="#">Blokirani korisnici</a></li>
				      <li><a href="#">Javna pitanja</a></li>
				      <li><a href="#">Spaseni proizvodi</a></li>
				
				  </ul>
				</div>					
	  	    
					</div>
					
					<div class="rightBox">
					
					
			@if(!products.isEmpty) {
				@for(product <- products) {
									
					
						<div class="grid_1_of_4 images_1_of_4">
							 <a href="/showProduct/@product.id"><img src="@routes.Assets.at("images/no-img.jpg")" alt="" /></a>
					 		 <h2>@product.name </h2>
					 		 @form(routes.ProductController.deleteProduct(product.id)) {
                    <input type="submit" value="Delete"  onclick="return confirm('Are you sure you want to delete this product?');">
                }
							<div class="price-details">
				       			<div class="price-number">
							<p><span class="rupees">@product.price KM</span></p>
					    	</div>
					       		<div class="add-cart">								
									<h4><a href="/showProduct/@product.id">Pogledaj</a></h4>
							    </div>
							 <div class="clear"></div>
						</div>
					
					</div>
				}
			}
			
				<a href="/editUser/@u.id">Edituj</a>
         </div> 
    </div>
 </div>
	
}