@(amount: String)

@main("purchase", ""){
	
	<div class="main">
    	<div class="content">
       		<div class="section group">
				<div class="col span_2_of_3">
					<div class="contact-form">
				  		<h1 class="redHeader">Kliknite na slijedeci link za PayPal Transkaciju</h1>
				  		<br>
  							<p>Trosak kupovine kredita iznosi @amount<p> 
					</div>
					
					<!-- Button number 2. which, when pressed by the User - gets redirected to Paypal -->
							<form method="post" action="@routes.CreditController.purchaseCredit(amount)">
								<button type="submit">	
				  					<img src="//www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif" alt="Check out with PayPal" />
								</button>
							</form>
							
				</div>
			</div>
		</div>
	</div>
		
}