@(usernameSes: String)(p: Product)

@main("showProduct", "") {
		
<div class="wrap">	
 <div class="main">
    <div class="content">
    	<div class="section group">
				
				  <div class="contact-form-oglas">
				  	<h1 id="BigTextCatgory">OGLAS</h1><br>
				  	
				  	<div id=boxForEditingProduct>
	<!--
		
		NAŠ OBJAVLJENI PROIZVOD
		TJ. NJEGOVI PODACI IZ BAZE;
		saljemo na ovu stranicu;
		- TODO - Prosiriti kasnije podatke o Productu; (Product class;)
		- TOOO - Kasnije ubaciti <div> - img src, desc small, desc big, kategorije, etc... 
		- TODO - Kasnije dodati, i na pocetak stranice, sve dodatne varijable koje primamo;
		
		-->
		
		<h6>@usernameSes</h6>
		
		<h6>ID: @p.id</h6>
		
		<h2><em>Naziv </em></h2><br>
		
			<p>@p.name</p><br>
			
		<h2><em>Opis </em></h2><br>
		
			<p>@p.desc</p><br>
			
		<h2><em>Cijena </em></h2><br>
		
			<p>@p.price KM</p><br>
		
		<h2><em>Kategorija </em></h2><br>
		
			<p>@p.category</p><br>
		
		<h2><em>Dostupnost </em></h2><br>
		
			<p>@p.availability</p><br>	
		
		<h2><em>Objavio korisnik </em></h2><br>
		
			<p>@p.owner.username</p><br>	
			
			<!--  Vidljivost "EDIT "samo za vlasnika proizvoda -->
			@if(usernameSes.equals(p.owner.username)) {
			<a href="/editProduct/@p.id">Edituj</a>
			}
			
					</div>
			</div>
			
			</div>
			</div>
			</div>
	
}


