@(p: Product)(user: User)

@import helper._

@main("showProduct", "") {
		
<div class="wrap">	
	<div class="validateAndLogout">
		@flash.get("successAddProduct")
	</div>
	
	<div class="main">
    	<div class="content">
    		<div class="section group">
				  <div class="contact-form-oglas">
				  				  	
				  	<div class="categories">
				  	<h3>Oglas</h3>
				  		
				  	
				  	<div id="boxForEditingProduct">
				  	
				  	<div><a class="profilePicture" ><img src="@routes.Assets.at(p.productImagePath)" alt="" /></a></div>				
				  	
						<div class="bottomLine">
							<h2 id="redText"><p>ID oglasa:</p></h2>
							<h6 class="blueText">@p.id</h6>
						</div>
		
						<div class="bottomLine">	
							<h2 id="redText">Naziv proizvoda:</h2>
							<p class="blueText">@p.name</p>
						</div>	
			
						<div class="bottomLine">
							<h2 id="redText">Opis:</h2>
							<p class="blueText">@p.description</p>
						</div>
				
						<div class="bottomLine">
							<h2 id="redText">Cijena:</h2>
							<p class="blueText">@p.price KM</p>
						</div>
		
						<div class="bottomLine">		
							<h2 id="redText">Kategorija:</h2>
							<p class="blueText">@p.mainCategory.name</p>
						</div>
						
						<div class="bottomLine">		
							<h2 id="redText">Podkategorija:</h2>
							<p class="blueText">@p.subCategory.name</p>
						</div>
		
						<div class="bottomLine">
							<h2  id="redText">Dostupnost:</h2>
							<p class="blueText">@p.availability</p>
						</div>	
		
						<div class="bottomLine">
							<h2 id="redText">Objavio korisnik:</h2>
							<p class="blueText">@p.owner.username</p>							
						</div>
						
						<!--  Vidljivost "EDIT "samo za vlasnika proizvoda -->
												
							<div>
								@if(user.username.equals(p.owner.username)) {
									<a href="/editProduct/@p.id" class="btn">Izmijeni proizvod</a>
									<a href="/addPictureProduct/@p.id" class="btn">Promijeni sliku</a>
								}
								@if(user.username.equals(p.owner.username) || user.isAdmin) {
									@form(routes.ProductController.deleteProduct(p.id)) {
                   					<input class="btnRed" type="submit" value="Izbrisi proizvod" onclick="return confirm('Da li ste sigurni da zelite izbrisati proizvod?');">
                				}
								}	
								
							</div><br><br>	
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>
</div>

}


