@(p: Product)(user: User)

@import helper._

@main("showProduct", "") {
		
<div class="wrap">	
	<div class="validateAndLogout">
		@flash.get("add_product_success")
		@flash.get("edit_product_success")
		@flash.get("buy_fail")
	</div>
	
	<div class="main">
    	<div class="content">
  
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>
    						  				  	
				  	<div class="categories">
				  	<h3>Oglas</h3>
				  		
				  	<div id="boxForEditingProduct" >
				  	<div class="section group" >	
				  	

				  	<div><a class="profilePicture" ><img src="@routes.Assets.at(p.productImagePath)" alt="" /></a></div>
									
				  	@if(p.imgPathList.size() > 0 ) {

				  	<div><a class="profilePictureGallery" ><img src="@routes.Assets.at(p.productImagePath)" alt=""width = "400" height = "300" /></a></div>
									
				  	@if(p.imgPathList.size() > 0  ) {

				  			@for(imgPath <- p.imgPathList) {
				  			<div class="grid_1_of_4 images_1_of_4">
				  			<a class="fancybox" rel="gallery1" href= "@routes.Assets.at(imgPath.imgPath)">
				  			<img class="col-md-3" src="@routes.Assets.at(imgPath.imgPath)" alt="" width = "300" height="200" />

				  			
                    			<input class="btnDelete" type="submit" value="Izbrisi sliku" onclick="return confirm('Da li ste sigurni da zelite izbrisati proizvod?');">
                		

				  			</a>
				  			</div>

				  			
				  			
				  		}
				  }
				  
				</div>
				  <div id="boxForEditingProduct">
						<div class="bottomLine">
							<h2 id="redText"><p>ID oglasa:</p></h2>
							<h6 class="blueText">@p.id</h6>
						</div>
		
						<div class="bottomLine">	
							<h2 id="redText">Naziv proizvoda:</h2>
							<p class="blueText">@p.name</p>
						</div>	
			
						<div class="bottomLine">
							<h2 id="redText">Opis:</h2>
							<p class="blueText">@p.description</p>
						</div>
				
						<div class="bottomLine">
							<h2 id="redText">Cijena:</h2>
							<p class="blueText">@p.getPriceString() KM</p>
						</div>
		
						<div class="bottomLine">		
							<h2 id="redText">Kategorija:</h2>
							<p class="blueText">@p.mainCategory.name</p>
						</div>
						
						<div class="bottomLine">		
							<h2 id="redText">Podkategorija:</h2>
							<p class="blueText">@p.subCategory.name</p>
						</div>
		
						<div class="bottomLine">
							<h2  id="redText">Dostupnost:</h2>
							<p class="blueText">@p.availability</p>
						</div>	
		
						<div class="bottomLine">
							<h2 id="redText">Objavio korisnik:</h2>
							<p class="blueText">@p.owner.username</p>							
						</div>
						
							<div>
							    <!-- Uslovi Za kupi dugme // Ne moze sAm svoj proizvod kupiti, i ne moze ga kupiti ako ga je vec kupio -->
							    @if(!user.username.equals(p.owner.username) && !user.bought_products.contains(p)) {
							    <a href="@routes.UserController.showPurchase(p.id)" data-paypal-button="true"  text-align="center" class="btn">KUPI</a>
						
						<!--  ZA KOMENTARISANO DUGME KUPI KOJE PRESKACE CITAV PAYPAL PROCES I PREBACUJE PROIZVOD U boughtproducts -->
						<!--    <a href="/buyingAProduct/@p.id" class="btn" onclick="return confirm('Da li zelite da vas redirectamo na PayPal stranicu da izvrsite placanje?');">Kupi</a>  -->
						<!--  ZA KOMENTARISANO IMAGE OD PAYPAL-a 		<img src="//www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif" alt="Check out with PayPal" /> -->
								}
								<!--Uslovi  Vidljivost "EDIT "samo za vlasnika proizvoda -->	    
								@if(user.username.equals(p.owner.username)) {
									<a href="/editProduct/@p.id" class="btn">Izmijeni proizvod</a>
									<a href="/addPictureProduct/@p.id" class="btn">Dodaj sliku</a>
								}
								<!--  Vidljivost "DELETE "samo za vlasnika proizvoda -->	
								@if(user.username.equals(p.owner.username) || user.isAdmin) {
									@form(routes.ProductController.deleteProduct(p.id)) {
                   					<input class="btnRed" type="submit" value="Izbrisi proizvod" onclick="return confirm('Da li ste sigurni da zelite izbrisati proizvod?');">
                					}
								}	
							</div><br><br>	
						</div>
					</div>					
				</div>
			</div>
	</div>
</div>
}


