@(u: User)(products: List[Product])

@main("Stats", "Stats") {
		
		
<div class="wrap">
	<div class="main">
    	<div class="content">
    		<div class="section group">	
    			<div style="padding-left: 9%">
    			
					  <h2>Izvjestaj korisnika : @u.username </h2>
					  
		
		@if(!products.isEmpty) {
					  		<h2>Objavljeni proizvodi :</h2>
					  
						 				   <div class="row">
											    <div class="col-sm-1" style="background-color:lavender;"><strong>Bitpik id</strong></div>
											    <div class="col-sm-1" style="background-color:lavenderblush;"><strong>Ime proizvoda</strong></div>
											    <div class="col-sm-1" style="background-color:lavender;"><strong>Cijena</strong></div>
											    <div class="col-sm-1" style="background-color:lavender;"><strong>Datum objave</strong></div>
											    <div class="col-sm-1" style="background-color:lavender;"><strong>Prodat artikal</strong></div>
											    <div class="col-sm-1" style="background-color:lavenderblush;"><strong>Izdvojen</strong></div>
											    <div class="col-sm-1" style="background-color:lavender;"><strong>Br. pregleda</strong></div>
											    <div class="col-sm-1" style="background-color:lavender;"><strong>Br. komentara</strong></div>
										  </div>
				
							
								@for(product <- products) {		  
						
										   <div class="row">
											    <div class="col-sm-1" style="background-color:lavender;">@product.id</div>
											    <div class="col-sm-1" style="background-color:lavenderblush;">@product.name</div>
											    <div class="col-sm-1" style="background-color:lavenderblush;">@product.price</div>
											    <div class="col-sm-1" style="background-color:lavender;">@product.publishedDate</div>
											    <div class="col-sm-1" style="background-color:lavender;">@product.statsProducts.isItSold</div>
											    <div class="col-sm-1" style="background-color:lavenderblush;">@product.statsProducts.isItSpecial</div>
											    <div class="col-sm-1" style="background-color:lavender;">@product.statsProducts.noOfClicksS</div>
											    <div class="col-sm-1" style="background-color:lavender;">@product.statsProducts.noOfComments</div>
										  </div>
							  	  }
							} else {
							<h2> Vi još uvijek nemate artikala</h2>							
							}
								  
				</div>
			</div>
		</div>	
	</div>
</div>
}